<coyo-context-menu icon="pin"
                   [headline]="'MODULE.TIMELINE.STICKY.EXPIRY.LABEL' | translate"
                   [headlineAria]="'MODULE.TIMELINE.STICKY.EXPIRY.LABEL.ARIA' | translate"
                   [tooltipText]="'MODULE.TIMELINE.STICKY.TOOLTIP.' + (model ? 'SELECTED' : 'UNSELECTED') | translate"
                   [active]="!!model">
  <li *ngFor="let option of stickyExpiryOptions | stickyOptions:model"
      [class.active]="model === option.expiry" role="menuitem">
    <a href="#" [attr.aria-label]="option.label + '.ARIA' | translate" (click)="setSelectedSticky(option.expiry)">
      <i class="zmdi zmdi-hc-fw {{option.icon}}" aria-hidden="true"></i>&nbsp;{{option.label | translate}}
    </a>
  </li>
</coyo-context-menu>
