.nav-item-messaging {
  position: relative;

  .messaging-navbar-item-unread {
    @include unread-bubble();

    position: absolute;
    top: 7px;
    right: 6px;

    @media print, screen and (min-width: $screen-md-min) {
      right: 8px;
    }
  }
}
