<li class="copy-link">
    <a href ngclipboard data-clipboard-text="{{::$ctrl.link}}"
       ngclipboard-success="$ctrl.success()"
       uib-tooltip="{{:: 'FILE_LIBRARY.COPY_LINK' | translate }}"
       tooltip-append-to-body="true"
       tooltip-placement="bottom"
       tooltip-popup-delay="500"
       tooltip-enable=":: !$ctrl.label">
        <i class="zmdi zmdi-hc-fw zmdi-link"></i>&nbsp;{{:: $ctrl.label | translate}}
    </a>
</li>