<div class="upcoming-event-widget">
  <h4 class="widget-title">
    {{$ctrl.widget.settings._titles[0] || ("WIDGETS.UPCOMING.EVENTS.NAME" + (type | uppercase) | translate)}}</h4>
  <div class="status">
    <coyo-widget-status load-data="$ctrl.loadEvents()"
                        empty-message="WIDGETS.UPCOMING.EVENTS.NO.UPCOMING.EVENTS"></coyo-widget-status>
  </div>
  <div class="upcoming-event-container" ng-repeat="event in $ctrl.events">
    <div class="image">
        <coyo-event-avatar [sender]="::event"
                           [show-overlay]="true"></coyo-event-avatar>
    </div>
    <div class="event-information">
        <h5 class="event-title pointer">
          <a ui-sref="main.event.show.information({idOrSlug: event.slug})">
            {{:: event.name }}</a>
        </h5>
      <p class="event-description">{{:: event.description | stripHtml }}</p>
      <div class="event-labels">
        <coyo-event-date-label event="::event"></coyo-event-date-label>
        <span class="label label-muted place" ng-if="event.place"><i class="zmdi zmdi-wide zmdi-pin"></i>&nbsp;{{:: event.place }}</span>
      </div>
    </div>
  </div>
</div>
