<div class="coyo-event-participation {{$ctrl.getDisabledStatus() | lowercase}}"
     ng-class="{'event-participation-disabled': $ctrl.isChangeDisabled()}">
  <ui-select ui-select-mobile="{{:: 'EVENT.STATUS.LABEL' | translate }}"
             ng-model="$ctrl.event.status"
             id="event-participation-select-{{::$ctrl.event.id}}"
             class="event-participation"
             search-enabled="false"
             ng-if="$ctrl.eventParticipationVisible && !$ctrl.isChangeDisabled()"
             on-select="$ctrl.onSelectionChanged()">
    <ui-select-match allow-clear="false">
      {{ 'EVENT.STATUS.' + $select.selected | translate }}
    </ui-select-match>
    <ui-select-choices repeat="status in $ctrl.statuses" class="ui-select-choices"
                       ui-disable-choice="$ctrl.isChoiceDisabled(status)">
      <div ng-bind-html="'EVENT.STATUS.' + status | translate"></div>
    </ui-select-choices>
  </ui-select>
  <a class="btn btn-sm btn-default participation-change-trigger"
     ng-if="!$ctrl.eventParticipationVisible && !$ctrl.isChangeDisabled()"
     ng-click="$ctrl.toggleEventParticipationVisibility($event)" ng-cloak="">
    <span class="ui-select-match-text">{{:: 'EVENT.STATUS.' + $ctrl.getDisabledStatus() | translate }}</span>
  </a>
  <a class="btn btn-sm btn-default participation-disabled"
     disabled="true"
     ng-if="$ctrl.isChangeDisabled()">
    <span class="ui-select-match-text">{{:: 'EVENT.STATUS.' + $ctrl.getDisabledStatus() | translate }}</span>
  </a>
</div>

