<form name="form" role="form" [formGroup]="reportForm" (ngSubmit)="onSubmit()" novalidate>

  <div class="modal-header">
    <h3 class="modal-title" translate="MODULE.REPORT.MODAL.TITLE"></h3>
    <button type="button" class="coyo-btn coyo-btn-sm coyo-btn-link coyo-btn-icon" (click)="close()" [attr.aria-label]="'CLOSE' | translate">
      <i class="zmdi zmdi-close" aria-hidden="true"></i>
    </button>
  </div>

  <div class="modal-body">
    <p translate="MODULE.REPORT.MODAL.TEXT"></p>
    <textarea id="message"
              name="message"
              formControlName="message"
              class="form-control resize-v resize-max"
              placeholder="{{'MODULE.REPORT.MODAL.PLACEHOLDER' | translate}}"
              autosize>
    </textarea>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-11">
          <coyo-checkbox formControlName="anonymous" label="MODULE.REPORT.MODAL.ANONYMOUS.LABEL"></coyo-checkbox>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="MODULE.REPORT.MODAL.ANONYMOUS.HELP"></coyo-help>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit"
            class="btn btn-primary"
            [disabled]="!reportForm.valid || sendFormData">{{'MODULE.REPORT.MODAL.SUBMIT' | translate}}
    </button>
  </div>

</form>
