.rss-container {
    .example-image {
        margin-left: 10px;
        width: 25px;
    }
}

.rss-widget {
    h4.widget-title {
        margin: 0;
    }
}

.rss-entry {
    display: block;
    padding: 30px;
    @include break-word();

    &:last-child {
        margin-bottom: -25px;
        border-bottom-left-radius: $border-radius-large;
        border-bottom-right-radius: $border-radius-large;
    }

    @media print, screen and (min-width: $screen-sm-min) {
        margin-left: -30px;
        margin-right: -30px;
    }

    @media screen and (max-width: $screen-sm-min) {
        padding: 18px;
        margin: 0px -18px;
    }

    &.even {
        background-color: $color-gray-lighter;
    }

    .rss-time-readmore {
        display: flex;
        font-size: 13px;

        .rss-time {
            color: $color-gray;
            margin: 0px 10px 5px 0px;
        }
    }

    .rss-body:not(:first-child) {
        margin-top: 14px;
    }

    .image {
        text-align: center;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    .rss-entry-image {
        margin-right: 10px;
    }

    .rss-title {
        font-size: 16px;
        line-height: 20px;
        color: $color-link;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 0;
    }

    .rss-description {
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.col-md-12 ,
.col-md-8,
.widget-slot-content {
    coyo-widget coyo-rss-widget {

        .rss-body {
            margin: 0;
        }

        .rss-entry {
            display: block;
            @media print, screen and (min-width: $screen-sm-min) {
                display: flex;

                .rss-body {
                    margin: 0;
                }

            }

            @media print, screen and (min-width: $screen-sm-min) {
                padding-right: 30px;
            }

            .image {
                flex: 2;
                @media print, screen and (min-width: $screen-sm-min) {
                    margin-right: 30px;
                }

                .rss-entry-image {
                    width: 100%;
                }
            }

            .rss-body {
                flex: 5;
            }

            .rss-title {
                display: block;
            }
        }
    }
}

.verify-button-container {
    display: flex;
    flex-direction: column;

    @media print, screen and (min-width: $screen-md-min) {
        div.help-block {
            align-items: center;
            display: flex;
            margin: auto 0;
        }

        p {
            margin: 0 0 0 8px;
        }
    }

    @media print, screen and (min-width: $screen-md-min) {
        flex-direction: row;
    }
}
