<div class="bookmarking-widget">
  <h4 class="widget-title" translate="WIDGETS.BOOKMARKING.NAME"></h4>

  <div *ngIf="!editMode && !widget.settings._validBookmarkList">
    <cite class="text-muted" translate="WIDGETS.BOOKMARKING.NO_BOOKMARKS"></cite>
  </div>

  <ng-container *ngIf="!editMode">
    <div class="bookmark" *ngFor="let bookmark of bookmarks">
      <coyo-bookmarking-show [bookmark]="bookmark"></coyo-bookmarking-show>
    </div>
  </ng-container>

  <div *ngIf="editMode" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="drop($event)">
    <div class="bookmark" *ngFor="let bookmark of bookmarks; let idx = index" cdkDrag>
      <coyo-bookmarking-edit-form [bookmark]="bookmark"
                                  (bookmarkChange)="changeBookmark($event, idx)"
                                  (bookmarkRemove)="removeBookmark(idx)">
      </coyo-bookmarking-edit-form>
    </div>
  </div>

  <div class="add-bookmark" *ngIf="editMode">
    <coyo-bookmarking-add-form (bookmarkAdd)="addBookmark($event)"></coyo-bookmarking-add-form>
  </div>
</div>
