@import "variables";
@import "mixins";

span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;

  .zmdi {
    line-height: 20px;
    font-size: 20px;
    color: $n0;
    position: relative;
    top: 1px;
  }
}

:host-context(coyo-launchpad-link) {
  margin-right: 16px;

  @include sm-and-up() {
    margin-right: 24px;
  }
}

:host-context(coyo-launchpad-link-manager) {
  span {
    width: 56px;
    height: 56px;
    cursor: pointer;

    .zmdi {
      line-height: 28px;
      font-size: 28px;
    }
  }
}
