<div class="search-result-external">
  <a href="{{searchResult.webViewLink}}" class="search-result external" target="_blank" [attr.aria-label]="searchResult.name">
    <coyo-file-icon-by-mime-type
      *ngIf="searchProvider === 'GOOGLE'" [mimeType]="searchResult.mimeType" [storage]="'G_SUITE'" class="result-icon">
    </coyo-file-icon-by-mime-type>
    <span class="black result-text">{{searchResult.name}}</span>
  </a>
</div>
