<div class="interesting-colleagues-widget">
  <h4 class="widget-title">
    {{$ctrl.widget.settings._titles[0] || ( "WIDGETS.INTERESTINGCOLLEAGUES.NAME" | translate)}}
    <span class="btn btn-link btn-refresh btn-xs" ng-click="$ctrl.loadData()"><i class="zmdi zmdi-refresh"></i></span>
  </h4>

  <coyo-widget-status load-data="$ctrl.loadData()"></coyo-widget-status>
  <div class="coyo-user-list">
    <div class="coyo-user-item-container">
      <coyo-user-item ng-repeat="user in $ctrl.data" user="user" show-follow-button="true"></coyo-user-item>
    </div>
  </div>
</div>
