  <ng-container *ngIf="(state$ | async); let state">
    <button id="follow-button"
            *ngIf="state.show"
            class="user-follow btn btn-zmdi btn-{{size}}"
            [ngClass]="{
              'btn-default': !darkTheme && !state.following,
              'btn-dark': darkTheme && !state.following,
              'btn-success': state.following}"
              (click)="false"
            tooltip="{{noLabel ? ((state.following ? textFollowing : textFollow) | translate) : ''}}"
            tooltip-append-to-body="true"
            coyo-global-permissions="FOLLOW_USER"
            (click)="toggle($event);"
            [attr.aria-label]="state.following ? 'USER.CLICK_TO_UNFOLLOW' : 'USER.CLICK_TO_FOLLOW' | translate">
      <i class="zmdi zmdi-hc-fw zmdi-account-add" *ngIf="!(loading$ | async); else spinner" aria-hidden="true"></i>
      <ng-template #spinner>
          <i class="zmdi zmdi-hc-fw zmdi-spinner zmdi-hc-spin" #spinner aria-hidden="true"></i>
      </ng-template><!--
    --><span class="btn-mobile-label" *ngIf="!noLabel && !state.following">{{textFollow | translate }}</span><!--
    --><span class="btn-mobile-label" *ngIf="!noLabel && state.following">{{textFollowing | translate }}</span>
    </button>
  </ng-container>

