<div class="workspace-users-list content-main">

  <!-- empty text -->
  <div class="text-center text-muted ph-l pv-s" ng-show="!$ctrl.loading && !$ctrl.currentPage.totalElements"
       translate="WORKSPACE.INVITED.EMPTY">
  </div>

  <div class="text-center alert alert-warning" ng-show="!$ctrl.loading && $ctrl.showDirectlyAddedHint"
       translate="WORKSPACE.INVITED.DIRECTLYADDED.GENERAL">
  </div>

  <div class="text-center alert alert-warning" ng-show="!$ctrl.loading && $ctrl.showDirectlyAddedExternalsHint"
       translate="WORKSPACE.INVITED.DIRECTLYADDED.EXTERNAL">
  </div>

  <div class="row">
    <div class="col-xl-6" ng-repeat="membership in $ctrl.currentPage.content">
      <div ng-if="!membership.email">
        <coyo-user-card user="membership.user"
        current-user="$ctrl.currentUser"
        subtitle="{{::'WORKSPACE.ROLE.INVITED.' + membership.role.name | translate}}">
          <card-header>
            <span class="card-actions">
            <!-- Decline Button -->
            <a ng-click="$ctrl.decline(membership.user.id, $event)"
               class="btn btn-danger btn-inverse btn-zmdi"
               uib-tooltip="{{::'WORKSPACE.ACTION.RETRACT.INVITATION' | translate}}"
               tooltip-placement="left"
               tooltip-append-to-body="true"
               tooltip-popup-delay="500">
              <i class="zmdi zmdi-hc-fw zmdi-close"></i>
            </a>
          </span>
          </card-header>
        </coyo-user-card>
      </div>

      <div ng-if="membership.email">
        <coyo-user-card-external email="membership.email">
          <card-header>
            <span class="card-actions">
            <!-- Decline Button -->
            <a ng-click="$ctrl.declineExternal(membership.email, $event)"
               class="btn btn-danger btn-inverse btn-zmdi"
               uib-tooltip="{{::'WORKSPACE.ACTION.RETRACT.INVITATION' | translate}}"
               tooltip-placement="left"
               tooltip-append-to-body="true"
               tooltip-popup-delay="500">
              <i class="zmdi zmdi-hc-fw zmdi-close"></i>
            </a>
          </span>
          </card-header>
        </coyo-user-card-external>
      </div>
    </div>
  </div>

  <div class="col-xs-12" ng-if="$ctrl.currentPage.content">
    <coyo-table-pagination page="$ctrl.currentPage"></coyo-table-pagination>
  </div>
</div>
