@import 'variables';

.modal-header {
  border-bottom: none;
}

coyo-filepicker-breadcrumb {
  width: calc(100% - 32px);
}

table {
  font-size: 16px;

  th {
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    color: $n200;
    height: 24px;
    padding: 12px 8px;
    border-bottom-color: $n50;

    &.col-size {
      width: 100px;
    }

    &.col-modified {
      width: 130px;
    }

    &.no-border {
      border: 0;
    }

    &.no-padding {
      padding-bottom: 0;
    }

    &:hover {
      coyo-checkbox {
        visibility: visible;
      }
    }
  }

  tbody tr {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    border-bottom-color: $n50;

    td {
      padding: 8px 8px;
      color: $n400;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0.1px;

      a, a:hover, a:active, a:visited {
        color: $n400;
        text-decoration: none;
      }

      &.no-border {
        border: 0;
      }

      &.limited-width {
        width: 40px;
        max-width: 48px;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $n35;

      coyo-checkbox {
        visibility: visible;
      }
    }
  }
}

coyo-spinner {
  margin: 0 auto;
  width: 60px;
  display: block;
}

@media all and (min-width: 769px) {
  div.modal-body.checkbox-padding {
    padding: 11px 55px 11px 11px;
  }
}

@media all and (min-width: $screen-sm) {
  div .modal-body .empty-folder {
    text-align: center;
    position: relative;
  }
}


coyo-checkbox {
  visibility: hidden;

  &.visible {
    visibility: visible;
  }

  &.float-right {
    float: right;
  }
}

.modal-body .empty-folder {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding-top: 20px;
  padding-left: 5px;
  height: 125px;
  width: 250px;
}
