<div class="filepicker-modal">
  <div class="modal-content-wrapper" *ngIf="items$ | async; let items;">
    <div class="modal-header">

      <coyo-filepicker-breadcrumb [items]="breadcrumbItems"
                                  (folderClick)="openFolder($event)"></coyo-filepicker-breadcrumb>

      <button type="button" class="coyo-btn coyo-btn-sm coyo-btn-link coyo-btn-icon" (click)="close()"
              [attr.aria-label]="'CLOSE' | translate">
        <i class="zmdi zmdi-close" aria-hidden="true"></i>
      </button>
    </div>
    <div [class.checkbox-padding]="items.length > 0" class="modal-body">
      <table class="table">
        <thead>
        <tr>
          <th *ngIf="!isMobile() && items.length > 0" class="no-padding no-border">
            <ng-container *ngTemplateOutlet="selectAllCheckbox"></ng-container>
          </th>
          <th class="col-name" colspan="2">{{'FILEPICKER.COLUMN.FILENAME' | translate}}</th>
          <th class="col-size hidden-xs">{{'FILEPICKER.COLUMN.SIZE' | translate}}</th>
          <th class="col-modified hidden-xs">{{'FILEPICKER.COLUMN.MODIFIED' | translate}}</th>
          <th *ngIf="isMobile() && items.length > 0" class="no-padding">
            <ng-container *ngTemplateOutlet="selectAllCheckbox"></ng-container>
          </th>
        </tr>
        </thead>
        <tbody *ngIf="items.length > 0">
        <tr *ngFor="let item of items" (click)="filePickerItemClicked(item, $event)">
          <td *ngIf="!isMobile()" class="no-border limited-width">
            <ng-container *ngTemplateOutlet="selectFileCheckbox;context:item"></ng-container>
          </td>
          <td aria-hidden="true" class="limited-width">
            <coyo-filepicker-icon [item]="item"></coyo-filepicker-icon>
          </td>
          <td>
            <a href *ngIf="item.isFolder; else fileName"
               [attr.aria-label]="'FILEPICKER.FOLDER.ARIA' | translate : {folder: item.name}">{{item.name}}</a>
            <ng-template #fileName>
              <span [attr.aria-label]="'FILEPICKER.FILE.ARIA' | translate : {file: item.name}">{{item.name}}</span>
            </ng-template>
          </td>
          <td class="hidden-xs">
            <span *ngIf="!item.isFolder">{{item.sizeInBytes | fileSize}}</span>
            <span *ngIf="item.isFolder">- -</span>
          </td>
          <td class="hidden-xs">
            {{item.lastModified | date:'short'}}
          </td>
          <td *ngIf="isMobile()" class="nopadding limited-width">
            <ng-container *ngTemplateOutlet="selectFileCheckbox;context:item"></ng-container>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="!loading && items.length === 0" class="empty-folder">
        <div class="text-muted">{{'FILEPICKER.FOLDER.EMPTY' | translate}}</div>
        <div>
          <button type="button" class="btn btn-link"
             (click)="goBackToPreviousFolder()"
             [attr.aria-label]="'FILEPICKER.BUTTON.BACK.ARIA' | translate">
            {{'FILEPICKER.BUTTON.BACK' | translate}}
          </button>
        </div>
      </div>
      <coyo-spinner *ngIf="loading" size="sm"></coyo-spinner>
    </div>
    <div class="modal-footer" *ngIf="items.length > 0">
      <button type="submit" class="btn btn-primary"
              (click)="onSubmitSelectedFiles()"
              [attr.aria-label]="'FILEPICKER.BUTTON.SELECT' | translate : {count: fileSelection.numberOfSelectedFilesInTotal}">
        {{'FILEPICKER.BUTTON.SELECT' | translate : '{count: \'' + fileSelection.selectedFiles.length + '\'}'}}
      </button>
      <button type="button" class="btn btn-default" (click)="close()" translate="CANCEL"
              [attr.aria-label]="'CANCEL' | translate"></button>
    </div>
  </div>
</div>

<ng-template #selectAllCheckbox>
  <coyo-checkbox *ngIf="fileSelection.numberOfFilesInCurrentFolder > 0" [formControl]="fileSelection.selectAllControl"
                 (click)="fileSelection.toggleAllFileSelectionsInCurrentFolder()"
                 [partiallyChecked]="fileSelection.isAtLeastOneButNotAllFilesSelectedInCurrentFolder()"
                 ariaLabel="{{'FILEPICKER.COLUMN.SELECTALL' | translate}}"
                 [class.float-right]="isMobile()"
                 [class.visible]="isMobile() || fileSelection.isAtLeastOneFileInCurrentFolderSelected()"></coyo-checkbox>
</ng-template>

<ng-template #selectFileCheckbox let-name="name" let-id="id" let-isFolder="isFolder">
  <coyo-checkbox *ngIf="!isFolder" [formControl]="fileSelection.selectControls[id]"
                 name="id"
                 class="float-right"
                 [class.visible]="isMobile() || fileSelection.isAtLeastOneFileInCurrentFolderSelected()"
                 ariaLabel="{{'FILEPICKER.FILE.SELECT' | translate : '{file: \'' + name + '\'}'}}"></coyo-checkbox>
</ng-template>
