<div *ngIf="shareState$ | async as shareState">
  <coyo-ribbon *ngIf="showRibbon && share.stickyExpiry && share.unread" type="sticky"
               (click)="markShareAsRead()">
  </coyo-ribbon>
  <div class="timeline-share-header">
    <coyo-sender-avatar *ngIf="shareState.shownAuthor" [sender]="shareState.shownAuthor" class="share-avatar"></coyo-sender-avatar>
    <div class="timeline-share-header-content">
      <div class="timeline-share-header-meta">
        <coyo-sender-link *ngIf="shareState.i18nAuthor === 'OTHER'" [sender]="shareState.shownAuthor"></coyo-sender-link>
        <span [translate]="'MODULE.TIMELINE.SHARE.HEADLINE.' + (itemType | uppercase) + '.' + shareState.i18nAuthor + '_WITH_' + shareState.i18nRecipient"></span>
        <coyo-sender-link *ngIf="shareState.i18nRecipient === 'OTHER'" [sender]="share.recipient"></coyo-sender-link>
        <span translate="MODULE.TIMELINE.SHARE.HEADLINE.SUFFIX"></span>
      </div>
      <div class="timeline-share-header-time">{{ share.created | timeAgo }}</div>
    </div>
  </div>

  <coyo-context-menu *ngIf="!showRibbon && (shareState.canToggleAuthor || shareState.canMakeUnsticky || shareState.canDeleteShare)" class="timeline-share-options">
    <li *ngIf="shareState.canToggleAuthor">
      <a (click)="toggleAuthor()">
        <i class="zmdi zmdi-hc-fw" [ngClass]="{'zmdi-account': shareState.shownAuthor?.id === share.author?.id, 'zmdi-account-o': shareState.shownAuthor?.id !== share.author?.id}"></i>&nbsp;<!--
       -->{{ 'MODULE.TIMELINE.ORIGINAL_AUTHOR.' + (shareState.shownAuthor?.id === share.author?.id ? '' : 'UN') + 'REVEAL' | translate}}
      </a>
    </li>
    <li *ngIf="shareState.canMakeUnsticky">
      <a (click)="makeUnsticky()"><i class="zmdi zmdi-hc-fw zmdi-close-circle-o"></i>&nbsp;{{'MODULE.TIMELINE.UNSTICKY' | translate}}</a>
    </li>
    <li *ngIf="shareState.canDeleteShare">
      <a (click)="deleteShare()"><i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;{{'DELETE' | translate}}</a>
    </li>
  </coyo-context-menu>

  <div *ngIf="share.data?.message && share.canAccessRecipient"
       class="timeline-share-message"
       data-test="timeline-share-message"
       [innerHTML]="share.data?.message | markdown | hashtags | mention">
  </div>
</div>
