<div class="file-details-action-bar pr-xxs">
  <a ng-if="$ctrl.file && $ctrl.file._permissions.editOffice && $ctrl.canEditInOffice($ctrl.file)"
     ng-click="$ctrl.editInOffice($ctrl.file)"
     class="edit-in-office-link hidden-xs" ng-class="{'text-muted is-locked': $ctrl.file.locked}">
    <coyo-ngx-file-icon ng-if="!$ctrl.file.locked" [file]="$ctrl.file" class="zmdi-hc-fw"></coyo-ngx-file-icon>
    <i ng-if="$ctrl.file.locked" class="zmdi zmdi-hc-fw zmdi-lock"></i>
    &nbsp;<span translate="EDIT"></span>
  </a>
  <a href ng-if="$ctrl.file && $ctrl.file.locked && $ctrl.file._permissions.manage"
     ng-click="$ctrl.unlockFile()"
     class="btn btn-link btn-zmdi"
     uib-tooltip="{{:: 'FILE_LIBRARY.PREVIEW.UNLOCK.TOOLTIP' | translate }}"
     tooltip-append-to-body="true"
     tooltip-placement="bottom"
     tooltip-popup-delay="500"
     tooltip-enable="!$root.screenSize.isXs">
    <i class="zmdi zmdi-hc-fw zmdi-lock-open"></i>
  </a>
  <a href ng-if="$ctrl.file" class="btn btn-link btn-zmdi">
    <coyo-copy-file-link file="$ctrl.file"></coyo-copy-file-link>
  </a>
  <a href ng-if="$ctrl.file && $ctrl.file._permissions.manage && !$ctrl.file.locked"
     ngf-select="$ctrl.uploadVersion($ctrl.file, $files)"
     ngf-accept="'.{{$ctrl.file.extension}}'"
     ngf-multiple="false"
     class="btn btn-link btn-zmdi"
     uib-tooltip="{{:: 'NEW_VERSION' | translate }}"
     tooltip-append-to-body="true"
     tooltip-placement="bottom"
     tooltip-popup-delay="500"
     tooltip-enable="!$root.screenSize.isXs">
    <i class="zmdi zmdi-hc-fw zmdi-file-plus"></i>
  </a>
  <a href coyo-download="$ctrl.file && $ctrl.downloadUrl"
     class="btn btn-link btn-zmdi"
     uib-tooltip="{{:: 'DOWNLOAD' | translate }}"
     tooltip-append-to-body="true"
     tooltip-placement="bottom"
     tooltip-popup-delay="500"
     tooltip-enable="!$root.screenSize.isXs">
    <i class="zmdi zmdi-hc-lg zmdi-download"></i>
  </a>
  <a href ng-if="$ctrl.canAccessFiles && $ctrl.file && $ctrl.linkToFileLibrary"
     ng-click="$ctrl.openFileLibrary()"
     class="btn btn-link btn-zmdi"
     uib-tooltip="{{:: 'FILE_LIBRARY.PREVIEW.FILE_LIBRARY.TOOLTIP' | translate }}"
     tooltip-append-to-body="true"
     tooltip-placement="bottom"
     tooltip-popup-delay="500"
     tooltip-enable="!$root.screenSize.isXs">
    <i class="zmdi zmdi-hc-fw zmdi-file"></i>
  </a>
</div>

<div class="tab-bar">
  <ul class="nav nav-tabs no-user-select" id="tabs-poll-config">
    <li data-ng-class="{'active': $ctrl.tabs.active === $ctrl.tabs.INFORMATION}" class="col-xs-6">
      <a ng-click="$ctrl.switchTab($ctrl.tabs.INFORMATION)">
        <i class="zmdi zmdi-info-outline mr-xxxs"></i> {{ 'FILE_LIBRARY.INFORMATION' | translate }}
      </a>
    </li>
    <li data-ng-class="{'active': $ctrl.tabs.active === $ctrl.tabs.HISTORY}" class="col-xs-6">
      <a ng-click="$ctrl.switchTab($ctrl.tabs.HISTORY)">
        <i class="zmdi zmdi-time mr-xxxs"></i> {{ 'FILE_LIBRARY.HISTORY' | translate }}
      </a>
    </li>
  </ul>
</div>

<div ng-show="$ctrl.tabs.active === $ctrl.tabs.INFORMATION">
  <coyo-file-details sender="::$ctrl.file.sender" file="::$ctrl.file"
                     file-author="::$ctrl.showAuthors ? $ctrl.fileAuthor : undefined"
                     update-file-func="::$ctrl.updateFileFunc()"></coyo-file-details>
  <div class="fd-file-options" ng-if="$ctrl.canAccessFiles">
    <coyo-like-container [author]="$ctrl.currentUser" [target]="$ctrl.file" ng-if="$ctrl.file._permissions.like" [condensed]="true"></coyo-like-container>
  </div>
  <coyo-comment-list [target]="::$ctrl.file" [author]="$ctrl.currentUser" ng-if="$ctrl.canAccessFiles"></coyo-comment-list>
</div>

<div ng-show="$ctrl.tabs.active === $ctrl.tabs.HISTORY">
  <div class="text-center"
       ng-if="::$ctrl.file._permissions.manage">
    <button class="btn btn-primary mb-s mt-xxs" translate="FILE_LIBRARY.UPLOAD_NEW_VERSION"
            ng-disabled="$ctrl.file.locked"
            ngf-select="$ctrl.uploadVersion($ctrl.file, $files)"
            ngf-accept="'.{{$ctrl.file.extension}}'"
            ngf-multiple="false">
    </button>
  </div>
  <div class="text-center m-m" ng-show="$ctrl.versions.loading">
    <coyo-spinner></coyo-spinner>
  </div>
  <table class="file-versions" ng-hide="$ctrl.versions.loading">
    <tbody>
    <tr ng-repeat="version in $ctrl.versions.content"
        ng-class="{active: $ctrl.currentVersionNumber === version.versionNumber}">
      <td>
        <div class="version-number" ng-click="$ctrl.selectVersion(version)">
          {{version.versionNumber}}
        </div>
      </td>
      <td>
            <span class="bold">
              {{version.modified | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.long + ', ' +
              $root.timeFormat.short}}
            </span>
        <br>
        <span ng-if="$ctrl.versionAuthors[version.id]">
                  <span class="text-muted" translate="FILE_DETAILS.CREATED_BY"></span>
                  <a ui-sref="main.profile({userId: $ctrl.versionAuthors[version.id].slug})">{{$ctrl.versionAuthors[version.id].displayName}}</a>
              </span>
      </td>
      <td class="text-right bold">{{version.length | fileSize}}</td>
      <td>
        <coyo-context-menu align-right="true">
          <li>
            <a href coyo-download="$ctrl.getDownloadUrlForVersion(version.id)">
              <i class="zmdi zmdi-hc-fw zmdi-download"></i>
              <span class="tab-text"
                    translate="FILE_LIBRARY.VERSION.DOWNLOAD"></span>
            </a>
          </li>
          <li ng-if="::$ctrl.file._permissions.manage && !$ctrl.file.locked">
            <a ng-click="$ctrl.restoreVersion(version)">
              <i class="zmdi zmdi-hc-fw zmdi-time-restore"></i>
              <span class="tab-text"
                    translate="FILE_LIBRARY.VERSION.RESTORE_VERSION"></span>
            </a>
          </li>
        </coyo-context-menu>
      </td>
    </tr>
    </tbody>
  </table>
  <coyo-table-pagination page="$ctrl.versions"></coyo-table-pagination>
</div>
