<a href="#" data-test="share-nav-bar-button" (click)="openShareModal()">
  <i class="zmdi zmdi-hc-fw zmdi-hc-flip-horizontal zmdi-mail-reply" aria-hidden="true"></i>{{translationKey | translate}}
</a>
