@import "variables";

.button-widget {
  .btn {
    min-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  input {
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}

.edit-mode .button-widget .btn {
  cursor: text;

  &:not(.btn-default) {
    ::-webkit-input-placeholder {
      color: $color-white;
    }
    :-moz-placeholder {
      color: $color-white;
      opacity: 1;
    }
    ::-moz-placeholder {
      color: $color-white;
      opacity: 1;
    }
    :-ms-input-placeholder {
      color: $color-white;
    }
  }
}
