<div class="rte-widget">
  <div class="rte-html-container fr-view" coyo-anchor-container
       ng-if="!$ctrl.editMode"
       ng-bind-html="$ctrl.widget.settings.html_content | youtubenocookie | hashtags | trusthtml">
  </div>
  <coyo-rte
      ng-if="$ctrl.editMode"
      [height]="$ctrl.height"
      [content]="$ctrl.widget.settings.html_content | youtubenocookie"
      (content-updated)="$ctrl.contentUpdated($event)">
  </coyo-rte>
</div>
