<div [class.loading]="loading"
     [class.processing]="isProcessing"
     [class.unavailable]="!previewAvailable || conversionFailed"
     [class.video]="videoType"
     class="pi-container">

  <!--IMAGE PREVIEW-->
  <coyo-file-image-preview
    (cannotProcess)="cannotProcess.emit($event)"
    (click)="openFullResImageOverlayOnMobile()"
    (statusUpdated)="onStatusUpdated($event)"
    [class.loading]="loading"
    *ngIf="showImagePreview() | async"
    [file]="file"
    [groupId]="groupId"
    [class.clickable]="isFullResImageOverlayAvailable() | async"
    [options]="options"
    [size]="getPreviewSize()"
    [url]="url">
  </coyo-file-image-preview>

  <!-- FULL SCREEN OVERLAY FOR MOBILE && DESKTOP -->
  <coyo-image-container
    (released)="closeFullResImageOverlay()"
    (statusUpdated)="onStatusUpdated($event)"
    *ngIf="showFullResImageOverlay() | async"
    [src]="getImagePreviewUrl() | async">
  </coyo-image-container>

  <!--PDF PREVIEW-->
  <div [ngClass]="{'pi-preview-pdf-container' : !loading}"
       *ngIf="showPdfPreview()">
    <coyo-pdf-viewer-loader
      *ngIf="pdfShouldBeReady()"
      [showToolbar]="shouldShowPdfOnDesktop()"
      [src]="pdfSrc"
      (loadingCompleted)="pdfLoadingCompleted()"
      (loadingFailed)="pdfLoadingFailed()">
    </coyo-pdf-viewer-loader>
  </div>
  <!--VIDEO STREAMING -->
  <coyo-file-video-preview
    *ngIf="showVideoPreview()"
    [file]="file"
    [url]="url"
    [groupId]="groupId">
  </coyo-file-video-preview>
  <!--NO PREVIEW & SPINNER-->
  <div *ngIf="showPreviewGenerationInformation()" class="pi-no-preview-container">
    <coyo-no-preview-available
      *ngIf="!isPreviewAvailable() && !loading"
      [file]="file">
    </coyo-no-preview-available>
    <div class="alert alert-warning"
         *ngIf="previewError()">
      <div translate="FILE_LIBRARY.PREVIEW.NOTAVAILABLE.TEXT_WS"></div>
    </div>
  </div>
  <coyo-spinner class="pi-spinner-container" *ngIf="!usePreviewGeneratingAnimation && loading"></coyo-spinner>
  <coyo-file-preview-animation-loader *ngIf="(usePreviewGeneratingAnimation && loading || previewIsProcessing())">
  </coyo-file-preview-animation-loader>
</div>
