@import "variables";

:host {
  display: inline-block;
}

@mixin avatar-variant($size, $font-size, $font-size-icon) {
  width: $size;
  height: $size;
  font-size: $font-size;

  > i {
    text-align: center;
    font-size: $font-size-icon;
    line-height: $size;
    width: $size;
  }
}

.sender-avatar {
  @include avatar-variant(80px, 22px, 64px);
  display: block;
  position: relative;

  &:focus {
    outline: none;

    .sender-avatar-empty {
      box-shadow: 0 0 0 2px $n0, 0 0 0 4px $coyo-link-focus-color;
    }
  }

  .sender-avatar-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: $color-gray;
    text-transform: uppercase;
  }

  &.user .sender-avatar-empty {
    color: $color-white;
    border-radius: 50%;
  }

  // TODO: deprecated
  &.xs { @include avatar-variant(30px, 14px, 24px); }
  &.sm { @include avatar-variant(40px, 16px, 32px); }
  &.lg { @include avatar-variant(120px, 36px, 96px); }
  &.xl { @include avatar-variant(160px, 48px, 128px); }
}

:host-context(.coyo-new) {
  .sender-avatar {
    @include avatar-variant(40px, 16px, 64px);
    &.xs { @include avatar-variant(24px, 8px, 24px); }
    &.sm { @include avatar-variant(32px, 12px, 32px); }
    &.lg { @include avatar-variant(64px, 24px, 96px); }
    &.xl { @include avatar-variant(128px, 36px, 128px); }
  }
}

.sender-avatar:not([href]) {
  cursor: default;
  color: inherit;
}

:host-context(a) .sender-avatar:not([href]),
:host-context(.ng-option) .sender-avatar:not([href]) {
  cursor: pointer;
  color: $link-color;
}

:host.share-avatar a::after {
  display: inline-block;
  background-color: $coyo-link-color;
  border: 2px solid white;
  border-radius: 100%;
  font-family: 'Material-Design-Iconic-Font';
  font-size: 10px;
  content: '\f193';
  color: $n0;
  text-align: center;
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 20px;
  height: 20px;
  line-height: 16px;
  transform: scale(-1, 1);
}
