<coyo-context-menu icon="paperclip"
                   [headline]="'ATTACH_FILES' | translate"
                   [tooltipText]="'ATTACH_FILES' | translate"
                   [active]="!!allSelectedAttachments?.length"
                   [verticalPlacement]="verticalPlacement"
                   [horizontalPlacement]="horizontalPlacement">
  <li role="menuitem" *ngIf="fileLibraryActivated">
    <a href="#" (click)="openCoyoFileLibrary()" data-test="open-file-library"
       [attr.aria-label]="'MODULE.TIMELINE.ATTACHMENT.FILE_LIBRARY.ARIA' | translate">
      <i class="zmdi zmdi-file zmdi-hc-fw" aria-hidden="true"></i>&nbsp;{{'MODULE.TIMELINE.ATTACHMENT.FILE_LIBRARY' | translate}}
    </a>
  </li>
  <li role="menuitem" *ngIf="googleApiActivated | async">
    <a href="#" (click)="openGSuitePicker()" data-test="open-google-suite-picker"
       [attr.aria-label]="'MODULE.TIMELINE.ATTACHMENT.G_SUITE_PICKER.ARIA' | translate">
      <i class="zmdi zmdi-google zmdi-hc-fw" aria-hidden="true"></i>&nbsp;{{'MODULE.TIMELINE.ATTACHMENT.G_SUITE_PICKER' | translate}}
    </a>
  </li>
  <li role="menuitem" *ngIf="o365ApiActivated | async">
    <a href="#" (click)="openSharePointOnlinePicker()" data-test="open-sharepoint-picker"
       [attr.aria-label]="'MODULE.TIMELINE.ATTACHMENT.SHAREPOINT_ONLINE_PICKER.ARIA' | translate" class="material">
      <mat-icon svgIcon="sharepoint" size="small"></mat-icon>&nbsp;{{'MODULE.TIMELINE.ATTACHMENT.SHAREPOINT_ONLINE_PICKER' | translate}}
    </a>
  </li>
  <li role="menuitem">
    <a href="#" (click)="fileInput.click()" data-test="open-upload-file-dialog"
       [attr.aria-label]="'MODULE.TIMELINE.ATTACHMENT.UPLOAD.ARIA' | translate">
      <i class="zmdi zmdi-cloud-upload zmdi-hc-fw" aria-hidden="true"></i>&nbsp;{{'MODULE.TIMELINE.ATTACHMENT.UPLOAD' | translate}}
    </a>
    <input style="display: none;" type="file" #fileInput
           ng2FileSelect [uploader]="uploader" multiple (onFileSelected)="uploadFiles()"/>
  </li>
</coyo-context-menu>
