.about-coyo-modal {
  .modal-header {
    height: 100px !important;
    margin: 0 !important;
    background-color: $color-original;

    border-top-left-radius: $border-radius-large;
    border-top-right-radius: $border-radius-large;

    .about-coyo-brand {
      background-image: $image-coyo-nav-hd;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      width: 100%;
      height: 100%;
    }

    .modal-close {
      top: 16px !important;
      right: 24px !important;
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $modal-header-border-color;
    padding: 0 !important;

    .with-love {
      width: 100%;
      padding: 15px;
      background-color: $color-gray-lighter;
      text-align: center;
      font-weight: bold;
      color: $color-gray-dark;

      i.heart {
        background-image: url($image-coyo-heart);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        position: relative;
        top: -2px;
        margin-right: 8px;
        cursor: default;

        &.activated {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }

    .version-container {
      padding: 30px;

      h4, span {
        display: inline-block;
      }

      h4 {
        font-weight: bold;
        margin-left: .25em;
      }
    }
  }
}
