@import "variables";
@import "mixins";

:host-context(coyo-timeline-form coyo-attachment-list) {
  margin-bottom: 8px;
}

:host-context(coyo-comment-form coyo-attachment-list) {
  border-radius: 0;
  border: none;
  box-shadow: inset 0 -1px 0 0 $n50;
  padding-left: 24px;

  .attachment-close {
    right: 12px;
  }
}

:host-context(coyo-message-form) {
  background-color: transparent;
  color: $n50;
  border: none;
  border-bottom: 1px solid $n200;
}

:host {
  display: flex;
  border: 1px solid $n50;
  background-color: $n25;
  color: $n400;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 16px;
  position: relative;

  @include sm-and-up() {
    border-radius: 4px;
  }
}

.file-visibility-status {
  display: flex;
  align-self: center;
  margin-right: 8px;
  padding: 4px 8px;
  height: 20px;
  font-size: 12px;
  line-height: 12px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  color: $n400;
  background-color: $o200;
}

.attachment-name {
  flex: 1 1 auto;
  margin-right: 32px;
  @include ellipsis();
}

.attachment-icon {
  margin-right: 12px;
  font-size: 16px;
  color: $n200;
  transform: rotate(45deg);
}

.attachment-upload {
  color: $n200;
}

.attachment-close {
  position: absolute;
  top: 4px;
  right: 4px;
}
