$print-body-width: 860px;


@media print {

  @page {
    size: A4;
  }

  body, .container-main {
    background-color: transparent;
    color: black;
    width: $print-body-width !important;
    color-adjust: exact;
    printer-colors: exact;
    -webkit-print-color-adjust: exact;
  }

  .container-wrapper {
    display: block;

    .container-main .content {
      margin: 0;
      padding: 0;
      width: 100%;

      .content-with-sidebar {
        display: block; // required for firefox to print more than one page
      }
    }
  }

  .panel-body + .panel-heading.article-header {
    page-break-before: always;
  }

  h1, h2, h3, h4, h5 {
    page-break-before: auto;
    page-break-after: avoid;
    page-break-inside:avoid;

    &+p, &+div {
      page-break-before: avoid;
    }
  }

  .widget-layout-row {
    page-break-after: auto;
    break-after: auto;
  }

  .widget-inner {

    .rss-widget .rss-entry {
      page-break-after: auto;
      break-after: auto;
      page-break-inside: avoid;
    }

    coyo-single-file-widget, coyo-blog-article-widget, coyo-wiki-article-widget, coyo-downloads-widget {
      page-break-inside: avoid;
    }
  }

  p {
    page-break-inside: avoid;
  }

  .messaging-sidebar-wrapper, .main-navigation, oyoc-sub-navigation, .coyo-spinner {
    display: none !important;
  }

  .panel .panel-title {
    overflow: visible !important;
  }

  // if there is a modal, do not print body content
  .modal ~ .body{
    display: none;
  }

  // specific print-preview style
  .print-preview {
    width: $print-body-width;
    transform: none !important;
    height: auto !important;
  }

  .modal-dialog {
    margin: 0 !important;
  }

  .modal {
    position: static !important; // position fixed causes chrome to stop after first page

    .modal-content-wrapper {
      display: block;
    }
  }

  // individual styling for layouts
  .page, .workspace, .events-list {
    .content-sidebar {
      display: none !important;
    }

    & > .panel {
      .sender-actions, coyo-sender-cover-image, .page-avatar-container, .workspace-avatar-container {
        display: none;
      }
    }
  }

  .state-main-page-show-apps-wiki-list-view,
  .state-main-workspace-show-apps-wiki-list-view {
    .page, .workspace, .events-list {
      & > .panel {
        display: none !important;
      }
    }
  }

  @include print-display();

  .wiki-article {
    @include print-exclude-widgets();
    coyo-comments, .wiki-subarticles {
      display: none;
    }
  }
}