<form class="form-horizontal share-form" [formGroup]="shareForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="modal-content-wrapper">
    <div class="modal-header">
      <h3 class="modal-title" translate="COMMONS.SHARES.CREATE.TITLE"></h3>
      <button type="button" class="coyo-btn coyo-btn-sm coyo-btn-link coyo-btn-icon" (click)="modal.hide()" [attr.aria-label]="'CLOSE' | translate">
        <i class="zmdi zmdi-close" aria-hidden="true"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="alert alert-warning" role="alert" *ngIf="!parentIsPublic"
           translate="COMMONS.SHARES.WARNING.PRIVATE"></div>
      <div class="form-group row">
        <label class="col-sm-3 control-label" for="shareWith" translate="COMMONS.SHARES.TIMELINE.LABEL"></label>
        <div class="col-sm-8">
          <coyo-select-sender id="shareWith"
                              name="shareWith"
                              formControlName="shareWith"
                              [parameters]="shareWithConfig"
                              placeholder="COMMONS.SHARES.PLACEHOLDER"
                              data-test="share-with-sender-select"></coyo-select-sender>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help [tip]="'COMMONS.SHARES.TIMELINE.HELP'"></coyo-help>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 control-label" for="message" translate="COMMONS.SHARES.MESSAGE.LABEL"></label>
        <div class="col-sm-8">
          <textarea id="message"
                    name="message"
                    formControlName="message"
                    class="form-control resize-v resize-max"
                    autosize
                    coyoMention
                    data-test="share-message"></textarea>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help [tip]="'COMMONS.SHARES.MESSAGE.HELP'"></coyo-help>
        </div>
      </div>

      <coyo-divider>
        <button class="coyo-btn coyo-btn-sm coyo-btn-link btn-extend-options" type="button" (click)="showExtended = !showExtended">
          <span translate="COMMONS.SHARES.EXTENDED_OPTIONS"></span>
          <i class="zmdi" [ngClass]="{'zmdi-caret-down': !showExtended, 'zmdi-caret-up': showExtended}"></i>
        </button>
      </coyo-divider>

      <div *ngIf="showExtended" class="share-dialog-additional form-horizontal">
        <div class="form-group row">
          <label class="col-sm-3 control-label" for="shareAs" translate="COMMONS.SHARES.FROM.LABEL"></label>
          <div class="col-sm-8">
            <coyo-select-sender id="shareAs"
                                name="shareAs"
                                formControlName="shareAs"
                                [parameters]="shareAsConfig"
                                placeholder="COMMONS.SHARES.PLACEHOLDER"
                                data-test="share-as-sender-select"></coyo-select-sender>
          </div>
          <div class="col-sm-1 hidden-xs">
            <coyo-help [tip]="'COMMONS.SHARES.FROM.HELP'"></coyo-help>
          </div>
        </div>

        <div class="form-group row" *ngIf="canCreateStickyShare | async">
          <label class="col-sm-3 control-label" for="stickyExpiry"
                 translate="COMMONS.SHARES.STICKY.EXPIRY.LABEL"></label>
          <div class="col-sm-8">
            <ng-select id="stickyExpiry"
                       name="stickyExpiry"
                       formControlName="stickyExpiry"
                       [items]="stickyExpiryOptions"
                       [searchable]="false"
                       [clearable]="false"
                       appendTo=".ng-select-overlay-container"
                       data-test="share-sticky-expiry">
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <i class="zmdi zmdi-hc-fw" [ngClass]="item.icon"></i>&nbsp;{{item.label | translate}}
              </ng-template>
              <ng-template ng-label-tmp let-item="item" let-label="label">
                <i class="zmdi zmdi-hc-fw" [ngClass]="item.icon"></i>&nbsp;{{item.label | translate}}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-sm-1 hidden-xs">
            <coyo-help [tip]="'COMMONS.SHARES.STICKY.EXPIRY.HELP'"></coyo-help>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!shareForm.valid" data-test="share-submit">
        <i class="zmdi zmdi-hc-fw zmdi-check" aria-hidden="true"></i> {{'COMMONS.SHARES.SUBMIT' | translate}}
        <span class="sr-only" translate="COMMONS.SHARES.SUBMIT"></span>
      </button>
    </div>
  </div>
</form>
