<div class="birthday-widget">
  <h4 class="widget-title">
    {{$ctrl.widget.settings._titles[0] || ("WIDGET.BIRTHDAY.NAME" + (type | uppercase) | translate)}}</h4>
  <div class="status">
    <coyo-widget-status load-data="$ctrl.loadData"
                        empty-message="WIDGET.BIRTHDAY.NO_BIRTHDAYS" skeleton="$ctrl.config.renderOptions.skeleton"></coyo-widget-status>
  </div>
  <div ng-repeat="user in $ctrl.users">
    <div class="birthday-item-container" ng-show="user.display">
      <div class="birthday-date">
          <div ng-if="!user.birthdayToday && !$ctrl.isSameDayAsPreviousUser($index)" class="upcoming">
            <coyo-render-birthday date="user.birthday" format="DD MMMM"></coyo-render-birthday>
          </div>
        <div class="today" ng-if="user.birthdayToday && !$ctrl.isSameDayAsPreviousUser($index)">{{"WIDGET.BIRTHDAY.TODAY" | uppercase | translate}}
        </div>
      </div>
      <div class="birthday-item">
        <a class="user-item-link" ui-sref="main.profile({userId: user.slug})">
          <coyo-user-avatar [user]="user"
                            avatar-size="sm"
                            [show-online-status]="false"
                            [show-external-flag]="true"
                            class="mr-xxs"
                            [no-link]="true"></coyo-user-avatar>
          <div class="user-item-container">
            <div class="user-item-headline">{{user.displayName}}</div>
            <span class="age" translate="WIDGET.BIRTHDAY.AGE" ng-show="user.years && $ctrl.widget.settings._displayAge"
                  translate-values="{ 'years': user.years}"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="load-more">
    <button class="btn btn-link" ng-click="$ctrl.loadBirthdays()" ng-if="!$ctrl.currentPage.last && !$ctrl.loading"><i
        class="zmdi zmdi-more"></i></button>
  </div>
</div>
