<div class="code-widget">
  <div ng-if="$ctrl.valid && ($ctrl.html || $ctrl.editMode)">
    <coyo-refresh watch="$ctrl.refresh">
      <div class="panel">
        <div class="panel-body">
          <div ng-bind-html="$ctrl.html"></div>
        </div>
      </div>
    </coyo-refresh>
  </div>
  <div class="panel" ng-if="!$ctrl.valid">
    <div class="panel-body code-widget-warning">
      <div class="alert alert-warning" translate="WIDGET.CODE.SETTINGS.INVALID"></div>
    </div>
  </div>

</div>