<coyo-context-menu data-test="timeline-item-context-menu">
  <li *ngIf="item._permissions.accessoriginalauthor && item.author.id !== currentUserId && !item.data.article?.app?.settings?.hideAuthors">
    <a href="#" (click)="onClickShowOriginalAuthors()">
      <i class="zmdi zmdi-hc-fw" aria-hidden="true"
         [class.zmdi-account]="!showOriginalAuthor" [class.zmdi-account-o]="showOriginalAuthor"></i>&nbsp;<!--
       -->{{ 'MODULE.TIMELINE.ORIGINAL_AUTHOR.' + (!showOriginalAuthor ? '' : 'UN') + 'REVEAL' | translate }}
    </a>
  </li>
  <li *ngIf="item._permissions.edit">
    <coyo-timeline-item-edit [targetId]="item.id"></coyo-timeline-item-edit>
  </li>
  <li *ngxPermissionsOnly="'CREATE_REPORTS'">
    <coyo-timeline-item-report [targetId]="item.id" [targetType]="item.typeName"></coyo-timeline-item-report>
  </li>
  <li *ngIf="item._permissions.delete">
    <a href="#" (click)="delete.emit()" data-test="delete-post-button"><i class="zmdi zmdi-hc-fw zmdi-delete" aria-hidden="true"></i>&nbsp;{{ 'DELETE' | translate }}</a>
  </li>
  <li *ngIf="item.stickyExpiry && item._permissions.sticky">
    <a href="#" (click)="unsticky.emit()" data-test="button-timeline-post-sticky"><i class="zmdi zmdi-hc-fw zmdi-close-circle-o" aria-hidden="true"></i>&nbsp;{{ 'MODULE.TIMELINE.UNSTICKY' | translate}}</a>
  </li>
  <li>
    <a href="#" ngxClipboard [cbContent]="getTimelineItemLink()" (cbOnSuccess)="copyLinkSuccessNotification()"><i class="zmdi zmdi-hc-fw zmdi-link" aria-hidden="true"></i>&nbsp;{{ 'MODULE.TIMELINE.COPY_LINK' | translate }}</a>
  </li>
</coyo-context-menu>
