@import "variables";

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 5000;
}

.toolbar-container {
  display: flex;
  align-items: center;
  background-color: $coyo-navbar;
  color: $coyo-navbar-text;
  justify-content: space-between;

  &:after {
    left: 0;
  }

  .toolbar-left {
    padding-left: 1%;
    text-align: left;
    flex: 1 0 180px;
  }

  .toolbar-center {
    flex: 1 0 300px;
  }

  .toolbar-right {
    flex: 1 1 180px;
  }

  input, select {
    margin: 12px 5px 12px 5px;
    background-color: $coyo-navbar;
    border: 0 none;
    border-radius: 5px;
    height: 26px;

    &:not(input) {
      min-width: 158px;
    }
    &:not(select) {
      text-align: center;
    }
  }

  button {
    color: $coyo-navbar-text;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0 5px;

    i {
      font-size: 16px;
      font-weight: 900;
      line-height: 50px;
    }
  }
}
