.event-list-component {
  .event-card {
    height: 80px;
    border-radius: 0;

    @media print, screen and (min-width: $screen-md-min) {
      border-radius: 5px;
    }

    @media print, screen and (min-width: $screen-md-min) {
      &.event-card {
        height: 160px;
      }
    }

    coyo-event-avatar {
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
    }

    .panel-body {
      height: 100%;
      padding: 8px 8px 8px 96px;
      position: relative;
      display: flex;
      flex-direction: column;

      .page-card-heading {
        display: flex;

        h4 {
          flex: 1;
          margin: 1px 0 6px;
          position: relative;
          @include ellipsis();

          @media print, screen and (min-width: $screen-md-min) {
            font-size: 20px;
            padding-right: 24px;
          }
        }
      }

      .page-card-heading,
      .page-card-content {
        padding-right: 68px;

        @media print, screen and (min-width: $screen-md-min) {
          padding-right: 0;
        }
      }

      @media print, screen and (min-width: $screen-md-min) {
        padding: 16px 16px 16px 184px;
      }
    }

    .event-title {
      margin: 0 0 8px;
      @include ellipsis();

      @media print, screen and (min-width: $screen-md-min) {
        font-size: 24px;
        line-height: 32px;
      }

      a, a:hover, a:focus {
        color: $text-color;
      }
    }

    .event-description {
      color: $color-gray;
      margin-bottom: 16px;
      flex-grow: 1;
      @include ellipsis-multiline(2, 48px);

      @media screen and (max-width: $screen-sm-max) {
        display: none;
      }
    }

    .event-labels {
      height: 25px;
      overflow: hidden;

      .label {
        float: left;
        margin-right: 8px;
      }

      .label-desktop {
        @media screen and (max-width: $screen-sm-max) {
          display: none;
        }
      }
    }

    .tour-placeholder-container {
      @media screen and (max-width: $screen-sm-max) {
        right: 0;
        top: 0;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 67px;

        .coyo-event-participation {
          border-left: 1px solid $color-gray-light;
          text-align: center;
          height: 100%;
          display: flex;

          .btn {
            margin: auto;
          }

          .event-participation {
            line-height: 80px;
          }

          .participation-disabled {
            display: block;
            width: 100%;
            height: 100%;
            background: transparent !important;
            line-height: 80px;
          }

          .participation-disabled,
          .ui-select-toggle {
            padding: 0 0 0 20px;
            @include box-shadow(0, 0, 0, 0, transparent, true, true);
            border: 0 none;
            background-color: transparent !important;
            height: auto;

            &:hover {
              @include box-shadow(0, 0, 0, 0, transparent, true, true);
            }

            &::before {
              text-align: center;
              font-size: 22px;
              line-height: 80px;
              position: static;
            }

            &::after {
              color: $color-primary;
              line-height: 80px;
            }
          }

          &.event-participation-disabled {
            display: none;
          }

          &.pending {
            .participation-disabled,
            .ui-select-toggle {
              &::before {
                color: $color-gray-light;
              }
            }
          }

          &.attending {
            .participation-disabled,
            .ui-select-toggle {
              &::before {
                color: $color-green;
              }
            }
          }

          &.maybe_attending {
            .participation-disabled,
            .ui-select-toggle {
              &::before {
                color: $color-orange;
              }
            }
          }

          &.not_attending {
            .participation-disabled,
            .ui-select-toggle {
              &::before {
                color: $btn-primary-bg;
              }
            }
          }
        }
      }
    }
  }
}