<!--suppress ALL -->
<div class="single-blog-article-widget">
  <coyo-blog-article-widget-skeleton *ngIf="isLoading()"></coyo-blog-article-widget-skeleton>
  <p class="empty" *ngIf="isLoading()" [translate]="'WIDGETS.BLOGARTICLE.NO_ARTICLES'"></p>
  <a *ngIf="!isLoading()"
     [href]="getLink(widget.article.articleTarget)">
    <coyo-image-reference class="article-teaser-image"
                          *ngIf="widget.article.teaserImageWideFileId"
                          [fileId]="widget.article.teaserImageWideFileId"
                          [senderId]="widget.article.teaserImageWideSenderId"
                          size-definitions="{'default': 'XL', 'screen-sm': 'XXL'}">
    </coyo-image-reference>
  </a>
  <div *ngIf="!isLoading()">
    <div class="article-meta">
      <a class="article-sender"
         [href]="getLink(widget.article.senderTarget)"
         title="widget.article.senderName">{{widget.article.senderName}}</a>
      <span class="article-time"
            *ngIf="widget.article.published">{{widget.article.published | date}}</span>
    </div>
    <h3 class="article-title pointer">
      <a [href]="getLink(widget.article.articleTarget)">
        {{widget.article.title}}
      </a>
    </h3>

    <p class="teaser-text">
      {{widget.article.teaserText}}
    </p>
    <div class="small text-muted">
      <a class="teaser-more" *ngIf="widget.article"
         [href]="getLink(widget.article.articleTarget)" [translate]="'WIDGETS.BLOGARTICLE.READMORE'"></a>
      <span [translate]="'WIDGETS.BLOGARTICLE.IN'"></span>
      <a class="blog-widget-info-sender"
         [href]="getLink(widget.article.appTarget)">{{widget.article.appDisplayname}}</a>
    </div>
  </div>
</div>
