<div dropdown #dropdown="bs-dropdown" class="context-menu dropdown" triggers="click" (onShown)="onShown()"
     [dropup]="verticalPlacement === 'top'">
  <button mat-icon-button dropdownToggle type="button" size="small" class="dropdown-toggle"
          [color]="btnActive ? 'accent' : null" [tooltip]="tooltipText || ('CONTEXT_MENU.SHOW' | translate)"
          (click)="false" (focusin)="onFocusChanged(true)" (focusout)="onFocusChanged(false)"
          aria-haspopup="true" aria-expanded="false">
    <mat-icon [svgIcon]="icon"></mat-icon>
    <span class="sr-only">{{tooltipText || ('CONTEXT_MENU.SHOW' | translate)}}</span>
  </button>
  <ul *dropdownMenu class="context-menu-list dropdown-menu" role="menu"
      [class.dropdown-menu-right]="horizontalPlacement === 'right'"
      [attr.aria-label]="headlineAria || headline">
    <li class="context-menu-title" *ngIf="headline"
        role="presentation" aria-hidden="true">
      {{headline}}
    </li>
    <li class="divider" *ngIf="headline"
        aria-hidden="true"></li>
    <ng-content></ng-content>
    <li *ngIf="!loading && empty" role="presentation">
      <span class="empty" translate="NO_ACTIONS"></span>
    </li>
    <li *ngIf="loading" role="presentation">
      <coyo-spinner size="xs" [inverted]="screenSizeXs$ | async"></coyo-spinner>
    </li>
    <li class="context-menu-close visible-xs visible-sm">
      <a href="#" role="menuitem" translate="CANCEL" (click)="dropdown.hide()"
         [attr.aria-label]="'CLOSE.MENU.ARIA' | translate"></a>
    </li>
  </ul>
</div>

