<i *ngIf="icons?.length === 1" class="file-icon zmdi {{icons[0]}}"></i>
<span *ngIf="icons?.length > 1" class="zmdi-hc-stack">
  <i *ngFor="let icon of icons" class="file-icon zmdi {{icon}}"></i>
</span>
