<div class="modal-content-wrapper">
  <div class="modal-header">
    <h3 class="modal-title" translate="HELP"></h3>
    <button type="button" class="coyo-btn coyo-btn-sm coyo-btn-link coyo-btn-icon" (click)="close()" [attr.aria-label]="'CLOSE' | translate">
      <i class="zmdi zmdi-close" aria-hidden="true"></i>
    </button>
  </div>
  <div class="modal-body">
    <p [innerHTML]="text | translate | markdown:false"></p>
  </div>
</div>
