<div class="modal-content-wrapper">
  <div class="modal-header">
    <h3 class="modal-title" translate="{{:: 'USER_CHOOSER_EXTERNAL.TITLE' | translate}}"></h3>
    <span class="modal-close" ng-click="$ctrl.onDismiss ? $ctrl.onDismiss() : $dismiss()">
      <i class="zmdi zmdi-close img-close"></i>
    </span>
  </div>

  <div class="modal-body user-chooser-external">
    <div class="description">
      <span class="description" translate="USER_CHOOSER_EXTERNAL.DESCRIPTION"></span>
      <span class="disclaimer" translate="USER_CHOOSER_EXTERNAL.DISCLAIMER"></span>
    </div>

    <div class="email-addresses">
      <form name="emails">
        <div class="form-group" ng-class="{'has-error': emails.$dirty && !$ctrl.isFormValid()}">
          <label class="col-sm-2 control-label" translate="USER_CHOOSER_EXTERNAL.EMAIL.LABEL"></label>
          <div class="col-sm-9">
            <tags-input ng-model="$ctrl.emailAddresses"
                        text="$ctrl.leftoverText"
                        type="email"
                        use-strings="true"
                        add-on-space="true"
                        add-on-comma="true"
                        add-on-paste="true"
                        add-on-blur="true"
                        min-tags="1"
                        paste-split-pattern="(,|\s)"
                        spellcheck="false"
                        on-tag-added="$ctrl.validateEmail($tag)"
                        on-tag-removed="$ctrl.removeTag($tag)"
                        placeholder="{{::'USER_CHOOSER_EXTERNAL.EMAIL.PLACEHOLDER' | translate}}"
                        enable-editing-last-tag="true"
                        allowed-tags-pattern="{{$ctrl.emailPattern}}">
            </tags-input>
            <div ng-if="$ctrl.takenInternalEmails.length >= 1 || $ctrl.activeInvitationEmails.length >= 1 || (emails.$error && emails.$dirty)" class="help-block">
              <p ng-show="emails.$error.minTags" translate="USER_CHOOSER_EXTERNAL.EMAIL.INVALID.REQUIRED"></p>
              <p ng-show="$ctrl.takenInternalEmails.length === 1" translate="USER_CHOOSER_EXTERNAL.EMAIL.INVALID.TAKEN.SINGLE" translate-values="{email: $ctrl.takenInternalEmails}"></p>
              <p ng-show="$ctrl.takenInternalEmails.length > 1" translate="USER_CHOOSER_EXTERNAL.EMAIL.INVALID.TAKEN.MULTI" translate-values="{email: $ctrl.takenInternalEmails.join(', ')}"></p>
              <p ng-show="$ctrl.activeInvitationEmails.length === 1" class="neutral" translate="USER_CHOOSER_EXTERNAL.EMAIL.INVALID.ACTIVE.INVITATION.SINGLE" translate-values="{email: $ctrl.activeInvitationEmails}"></p>
              <p ng-show="$ctrl.activeInvitationEmails.length > 1" class="neutral" translate="USER_CHOOSER_EXTERNAL.EMAIL.INVALID.ACTIVE.INVITATION.MULTI" translate-values="{email: $ctrl.activeInvitationEmails.join(', ')}"></p>
            </div>
          </div>
          <div class="col-sm-1 hidden-xs">
            <coyo-help tip="USER_CHOOSER_EXTERNAL.EMAIL.HELP"></coyo-help>
          </div>
        </div>
      </form>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="$ctrl.save()" translate="USER_CHOOSER_EXTERNAL.SAVE"></button>
    <button class="btn btn-default" ng-click="$ctrl.onDismiss ? $ctrl.onDismiss() : $dismiss()" translate="CANCEL"></button>
  </div>
</div>