<div id="wiki-article-export-modal" class="modal-content-wrapper wiki-app wiki-article wiki-article-export">
  <div class="modal-header">
    <h3 class="modal-title">{{:: $ctrl.modalTitle }}</h3>
    <span class="modal-close" ng-click="$dismiss()">
      <i class="zmdi zmdi-close img-close"></i>
    </span>
  </div>

  <div class="panel panel-default">
    <div class="navigation hidden-xs">
      <div class="navigation-title text-muted">
        <i class="zmdi zmdi-hc-fw zmdi-file-text"></i>&nbsp;<span>{{:: $ctrl.modalTitle }}</span>
      </div>
      <div class="navigation-placeholder"></div>
      <a class="navigation-action navigation-border" ng-click="$ctrl.print()" ng-show="!$ctrl.loading">
        <i class="zmdi zmdi-hc-fw zmdi-print"></i><span>&nbsp;{{:: 'APP.WIKI.PRINT' | translate }}</span>
      </a>
      <a class="navigation-action navigation-border" ng-click="$ctrl.close()">
        <i class="zmdi zmdi-hc-fw zmdi-close"></i><span>&nbsp;{{:: 'CANCEL' | translate }}</span>
      </a>
    </div>
    <div ng-show="$ctrl.loading && !$ctrl.showLoadingBar" class="text-center">
      <coyo-spinner></coyo-spinner>
    </div>
    <div class="load-info" ng-if="$ctrl.showLoadingBar">
      <span class="text-muted">{{$ctrl.loadingInfo}}</span>
      <div class="progress">
        <div class="progress-bar" role="progressbar"
             ng-style="{'transform': 'scaleX(' + $ctrl.loadingPercentage + ')'}"></div>
      </div>
    </div>
    <div class="print-preview"
         ng-show="!$ctrl.loading"
         ng-style="{
        'width': $ctrl.fixedPreviewWidth + 'px',
        'height': ($ctrl.previewHeight &&  $ctrl.scale < 1) ? $ctrl.previewHeight * $ctrl.scale : 'auto',
        'transform': 'scale(' + $ctrl.scale + ')',
        'transform-origin': 'top left'
      }">
      <div ng-repeat-start="article in $ctrl.articles | limitTo:$ctrl.articlesLoadingBatchSize track by article.id"
           class="panel-heading panel-heading-main article-header">
        <div class="article-header-top article-header-top-main">
          <h1 class="panel-title panel-title-main">
            <span>{{::$ctrl.articleTitle ? $ctrl.articleTitle : article.title}}</span>
          </h1>
        </div>
        <div class="text-muted article-header-bottom">
          <div class="author" ng-if=":: article.author">
            <i class="zmdi zmdi-hc-fw zmdi-account-circle"></i>
            <coyo-sender-link ng-if="::article.author" [sender]="::article.author"></coyo-sender-link>
          </div>
          <div class="time">
            <i class="zmdi zmdi-hc-fw zmdi-time"></i>
            {{::article.modified | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.long + ', ' + $root.timeFormat.short }}
          </div>
        </div>
      </div>
      <div ng-repeat-end class="panel-body" coyo-images-complete="$ctrl.onImagesComplete()">
        <coyo-widget-layout layout-name="{{:: article.buildLayoutName($ctrl.appId, $ctrl.selectedLanguage ? $ctrl.selectedLanguage : article.usedLanguage)}}"
                            parent=":: article"
                            create-mode="false"
                            copy-mode="false"
                            global-events="false"
                            can-manage="false"
                            render-style="plain"
                            simple-mode="true"
                            add-initial-widget="false"
                            options=":: $ctrl.layoutOptions">
        </coyo-widget-layout>
      </div>
    </div>
  </div>
  <div class="modal-footer" ng-show="!$ctrl.loading">
    <a ng-click="$ctrl.print()" >
      <i class="zmdi zmdi-hc-fw zmdi-print"></i><span>&nbsp;{{:: 'APP.WIKI.PRINT' | translate }}</span>
    </a>
  </div>
</div>
