<!-- Edit settings -->
<div class="form-group wiki-settings-edit">
  <label class="col-sm-2 control-label" translate="APP.WIKI.EDITORS"></label>
  <div class="col-sm-10">
    <div class="radio">
      <label>
        <input name="editors" type="radio" ng-model="ctrl.app.settings.editorType" value="VIEWER"
               ng-change="ctrl.setAppFolderPermissions()">
        <i class="zmdi zmdi-globe zmdi-wide"></i>&nbsp;{{:: 'APP.WIKI.EDITORTYPE.VIEWER.NAME' | translate }}<br>
        <span class="text-muted">&nbsp;{{:: 'APP.WIKI.EDITORTYPE.VIEWER.DESCRIPTION' | translate }}</span>
      </label>
    </div>
    <div class="radio">
      <label>
        <input name="editors" type="radio" ng-model="ctrl.app.settings.editorType" value="ADMIN"
               ng-change="ctrl.setAppFolderPermissions()">
        <i class="zmdi zmdi-lock-outline zmdi-wide"></i>&nbsp;{{:: 'APP.WIKI.EDITORTYPE.ADMIN.NAME' | translate }}<br>
        <span class="text-muted">&nbsp;{{:: 'APP.WIKI.EDITORTYPE.ADMIN.DESCRIPTION' | translate }}</span>
      </label>
    </div>
  </div>
</div>

<!-- Home settings -->
<div class="form-group wiki-settings-home" ng-if="!ctrl.app.isNew()">
  <label class="col-sm-2 control-label" translate="APP.WIKI.HOME.TITLE"></label>

  <div class="col-sm-9">
    <coyo-select-wiki-article ng-model="ctrl.app.settings.home" hint="ctrl.app"></coyo-select-wiki-article>
  </div>

  <div class="col-sm-1 hidden-xs">
    <coyo-help tip="APP.WIKI.HOME.HELP"></coyo-help>
  </div>
</div>

<!-- Comment and like settings -->
<div class="form-group wiki-settings-comment">
  <label class="col-sm-2 control-label" translate="APP.WIKI.COMMENTS_AND_LIKES.TITLE"></label>
  <div class="col-sm-10">
    <div class="checkbox">
      <label>
        <coyo-checkbox id="default" ng-model="ctrl.app.settings.commentsAllowed"></coyo-checkbox>
        {{:: 'APP.WIKI.COMMENTS_AND_LIKES.DESCRIPTION' | translate }}
      </label>
    </div>
  </div>
</div>

<!-- hide authors settings -->
<div class="form-group">
  <label class="col-sm-2 control-label" translate="APP.WIKI.HIDE_AUTHORS.TITLE"></label>
  <div class="col-sm-9">
    <div class="checkbox">
      <label>
        <coyo-checkbox id="hideAuthors" ng-model="ctrl.app.settings.hideAuthors"></coyo-checkbox>
        {{:: 'APP.WIKI.HIDE_AUTHORS.DESCRIPTION' | translate }}
      </label>
    </div>
  </div>
  <div class="col-sm-1 hidden-xs">
    <coyo-help tip="APP.WIKI.HIDE_AUTHORS.HELP"></coyo-help>
  </div>
</div>
