<div class="article article-view">
  <section class="panel panel-default panel-article">
    <div class="panel-nav fl-header">
      <div class="bdv-col bdv-col-home pointer" ui-sref="^">
        <i class="zmdi zmdi-home zmdi-hc-fw"></i>&nbsp;
        <span translate="APP.BLOG.ARTICLE.OVERVIEW"></span>
      </div>
      <div class="bdv-col bdv-col-placeholder"></div>
      <div class="bdv-col bdv-col-count" ng-if="ctrl.currentArticleNumber >= 0 && ctrl.nrOfBlogArticles >= 0">
        {{ ctrl.currentArticleNumber }}/{{:: ctrl.nrOfBlogArticles }}
      </div>
      <div class="bdv-col bdv-col-left pointer"
           ng-click="ctrl.previousArticle()"
           ng-class="{'inactive': !ctrl.hasPreviousArticle, 'pointer active': ctrl.hasPreviousArticle}">
        <i class="zmdi zmdi-chevron-left zmdi-hc-lg zmdi-hc-fw"></i>
      </div>
      <div class="bdv-col bdv-col-right"
           ng-click="ctrl.nextArticle()"
           ng-class="{'inactive': !ctrl.hasNextArticle, 'pointer active': ctrl.hasNextArticle}">
        <i class="zmdi zmdi-chevron-right zmdi-hc-lg zmdi-hc-fw"></i>
      </div>
    </div>

    <div class="panel-heading panel-heading-main article-header">
      <div class="article-title-wrapper">
        <h1 class="panel-title article-title">
          {{ ctrl.article.title }}
        </h1>
        &nbsp;<oyoc-blog-article-time ng-if="ctrl.article" article="ctrl.article" is-draft="!(ctrl.article.publishDate || ctrl.article.published)"></oyoc-blog-article-time>
      </div>
      <div class="article-language-switch">
        <coyo-app-language-switch ng-if="ctrl.availableLanguages.length > 1"
                                  current-language="ctrl.article.usedLanguage || ctrl.article.defaultLanguage"
                                  available-languages="ctrl.availableLanguages"
                                  fetch-translation="ctrl.fetchByLanguage"></coyo-app-language-switch>
      </div>
      <div class="article-status-options">
        <coyo-context-menu class="article"
                           title="{{ ctrl.article.title }}"
                           ng-if="ctrl.article._permissions.edit || ctrl.article._permissions.delete"
                           align-right="true">
          <li ng-if="ctrl.article._permissions.edit">
            <a ui-sref="^.edit({id:ctrl.article.id})">
              <i class="zmdi zmdi-hc-fw zmdi-edit"></i>&nbsp;{{:: 'EDIT' | translate }}
            </a>
          </li>
          <li ng-if="ctrl.article._permissions.delete">
            <a ng-click="ctrl.deleteArticle()">
              <i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;{{:: 'DELETE' | translate }}
            </a>
          </li>
        </coyo-context-menu>
      </div>
    </div>

    <div class="nav-item">
      <div class="panel-body article-body panel-teaser-body" ng-if="ctrl.article.showTeaserWithText">
        <div class="article-content article-teaser-body">
          <div ng-if="ctrl.article.teaserImage" class="article-teaser-image-wrapper">
            <div class="article-teaser-image">
              <coyo-image-reference file-id="ctrl.article.teaserImage.fileId"
                                    sender-id="ctrl.article.teaserImage.senderId"
                                    size-definitions="{'default': 'S', 'screen-lg': 'M'}"></coyo-image-reference>
            </div>
          </div>
          <div class="article-text-wrapper above-text">
            <div class="article-text" ng-bind-html="ctrl.article.teaserText | nl2br"></div>
          </div>
        </div>
      </div>
      <div class="panel-body article-body article-text-body">
        <div class="article-content">
          <coyo-widget-layout ng-if="ctrl.article"
                              layout-name="{{ctrl.article.buildLayoutName(ctrl.article.appId, ctrl.article.usedLanguage)}}"
                              parent="ctrl.article"
                              can-manage="ctrl.app._permissions.createArticle"
                              global-events="false"
                              render-style="plain"></coyo-widget-layout>
        </div>
      </div>
    </div>

    <div class="panel-footer panel-footer-status">
      <div class="status-options status-options-left">
        <coyo-like-container [author]="ctrl.currentUser" [target]="ctrl.article" ng-if="ctrl.article._permissions.like"></coyo-like-container>
      </div>

      <div class="status-options status-options-right">
        <span ng-if="ctrl.article.author" class="article-author mr-xxs hidden-xs">
          <i class="zmdi zmdi-hc-fw zmdi-account-circle"></i>
          <coyo-sender-link [sender]="::ctrl.article.author"></coyo-sender-link>
        </span>
        <coyo-share-container
            ng-if="::ctrl.article._permissions.share"
            [target]="ctrl.article"
            (share-created)="ctrl.addShare($event)"
            (shares-deleted)="ctrl.deleteShares($event)" class="status-option"></coyo-share-container>
        <coyo-subscribe-button [target]="ctrl.article" class="status-option"></coyo-subscribe-button>
      </div>
    </div>

  </section>
  <coyo-comment-list ng-if="ctrl.app.settings.commentsAllowed" [author]="ctrl.currentUser" [target]="::ctrl.article"></coyo-comment-list>
</div>
