<a [attr.href]="href" target="_blank" [class.managable]="canManage">
  <coyo-launchpad-link-icon [iconSrc]="link | launchpadLinkIconSrc" [color]="color"></coyo-launchpad-link-icon>
  <div class="link-content">
    <div class="name">{{link.name}}</div>
    <div class="url">{{link.url}}</div>
  </div>
</a>
<coyo-context-menu *ngIf="canManage" [attr.data-link-menu]="link.id">
  <li><a href="#" (click)="edit.emit()" [translate]="'EDIT'"></a></li>
  <li><a href="#" (click)="delete.emit()" [translate]="'DELETE'"></a></li>
</coyo-context-menu>
