@import "variables";
@import "mixins";

$icon-size: 40px;

:host {
  position: relative;
  display: block;

  coyo-context-menu {
    position: absolute;
    top: -9999px;
    right: 0;
  }

  &:hover coyo-context-menu,
  &:focus coyo-context-menu,
  coyo-context-menu.active {
    top: 16px;
  }
}

:host-context(.touchevents) {
  coyo-context-menu {
    top: 16px;
  }
}

a {
  display: flex;
  align-items: flex-start;
  padding: 8px 0;

  @include sm-and-up() {
    padding: 12px 0;
  }

  &.managable {
    padding-right: 32px;
  }
}

.link-content {
  flex: 1 1 auto;
  min-width: 0;
}

.name {
  color: $n600;
  font-size: 16px;
  line-height: 20px;
  @include break-word();
}

.url {
  color: $n100;
  font-size: 14px;
  line-height: 20px;
  @include ellipsis();
}
