<div class="new-colleagues-widget">
  <h4 class="widget-title">
    {{$ctrl.widget.settings._titles[0] || ("WIDGETS.NEWCOLLEAGUES.NAME" | translate)}}
  </h4>
  <coyo-widget-status load-data="::$ctrl.loadData()"></coyo-widget-status>
  <coyo-user-list page="$ctrl.data"></coyo-user-list>
</div>
