<div class="main-navigation">

  <!-- mobile tours -->
  <coyo-tour-step-mobile topic="navigation" order="5" aria-hidden="true"
                         title="{{:: 'TOUR.MAIN.WELCOME.TITLE' | translate }}"
                         content="{{:: 'TOUR.MAIN.WELCOME' | translate }}"></coyo-tour-step-mobile>

  <coyo-tour-step-mobile topic="navigation" order="10" aria-hidden="true"
                         image-url="/assets/images/tour/tour-mobile-nav-1.jpg"
                         title="{{:: 'TOUR.MAIN.MOBILE.NAVIGATION.TITLE' | translate }}"
                         content="{{:: 'TOUR.MAIN.MOBILE.NAVIGATION' | translate }}"></coyo-tour-step-mobile>

  <coyo-tour-step-mobile topic="navigation" order="15" aria-hidden="true"
                         image-url="/assets/images/tour/tour-mobile-nav-2.jpg"
                         title="{{:: 'TOUR.MAIN.SEARCH.TITLE' | translate }}"
                         content="{{:: 'TOUR.MAIN.SEARCH' | translate }}"
                         ng-if="$ctrl.user.hasGlobalPermissions('SEARCH')"></coyo-tour-step-mobile>

  <coyo-tour-step-mobile topic="navigation" order="20" aria-hidden="true"
                         image-url="/assets/images/tour/tour-mobile-nav-3.jpg"
                         title="{{:: 'TOUR.MAIN.LAUNCHPAD.TITLE' | translate }}"
                         content="{{:: 'TOUR.MAIN.LAUNCHPAD' | translate }}"
                         ng-if="$ctrl.launchpadActive && $ctrl.user.hasGlobalPermissions('ACCESS_LAUNCHPAD')">
  </coyo-tour-step-mobile>

  <coyo-tour-step-mobile topic="navigation" order="25" aria-hidden="true"
                         image-url="/assets/images/tour/tour-mobile-nav-4.jpg"
                         title="{{:: 'TOUR.MAIN.NOTIFICATIONS.TITLE' | translate }}"
                         content="{{:: 'TOUR.MAIN.NOTIFICATIONS' | translate }}"
                         ng-if="$ctrl.user.hasGlobalPermissions('ACCESS_NOTIFICATIONS')"></coyo-tour-step-mobile>

  <coyo-tour-step-mobile topic="navigation" order="30" aria-hidden="true"
                         image-url="/assets/images/tour/tour-mobile-nav-5.jpg"
                         title="{{:: 'TOUR.MAIN.MESSAGING.TITLE' | translate }}"
                         content="{{:: 'TOUR.MAIN.MESSAGING' | translate }}"
                         ng-if="$ctrl.user.hasGlobalPermissions('USE_MESSAGING')"></coyo-tour-step-mobile>
  <!-- end mobile tours -->

  <nav class="navbar navbar-fixed-top navbar-main">
    <div class="navbar-wrapper">
      <ul class="nav nav-left" role="navigation" aria-label="{{::'NAVIGATION.LEFT.ARIA' | translate}}">

        <!-- LOGO -->
        <li class="nav-item hidden-xs hidden-sm" ng-class="::{'nav-item-no-link': !$ctrl.accessLandingPages}"
            ui-sref-active="active">
          <div ng-if="::!$ctrl.accessLandingPages" class="nav-item-brand" aria-hidden="true"></div>
          <a href ng-if="::$ctrl.accessLandingPages" class="nav-item-brand"
             ui-sref="main.landing-page({refreshLandingPages: true})"
             ui-sref-opts="{reload: 'main.landing-page'}" data-test="navigation-logo"><span class="sr-only" translate="NAVIGATION.BRAND"></span></a>
          <coyo-tour-step topic="navigation" order="5" step-id="navigation.welcome" aria-hidden="true"
                          placement="bottom-left" fixed="true"
                          title="{{:: 'TOUR.MAIN.WELCOME.TITLE' | translate }}"
                          content="{{:: 'TOUR.MAIN.WELCOME' | translate }}"></coyo-tour-step>
        </li>

        <!-- MENU -->
        <li class="nav-item nav-item-icon visible-xs visible-sm">
          <a href ng-click="$ctrl.openMenu()">
            <i class="zmdi zmdi-hc-fw zmdi-menu" aria-hidden="true"></i><!--
         --><span class="sr-only" translate="NAVIGATION.OPEN.ARIA"></span>
          </a>
        </li>

        <!-- PAGES -->
        <li class="nav-item hidden-sm hidden-xs" ng-class="{'nav-item-icon': $root.search.visible}"
            ui-sref-active="active" coyo-global-permissions="ACCESS_PAGES">
          <a href ui-sref="main.page" data-test="navigation-pages">
            <i class="zmdi zmdi-hc-fw zmdi-layers" aria-hidden="true"></i><!--
         --><span class="nav-item-label" aria-hidden="true">&nbsp;{{:: 'NAVIGATION.PAGES' | translate}}</span><!--
         --><span class="sr-only" translate="NAVIGATION.PAGES"></span>
          </a>
          <coyo-tour-step topic="navigation" order="10" step-id="navigation.pages" aria-hidden="true"
                          title="{{:: 'TOUR.MAIN.PAGES.TITLE' | translate }}" placement="bottom" fixed="true"
                          content="{{:: 'TOUR.MAIN.PAGES' | translate }}"></coyo-tour-step>
        </li>

        <!-- WORKSPACES -->
        <li class="nav-item hidden-sm hidden-xs" ng-class="{'nav-item-icon': $root.search.visible}"
            ui-sref-active="active" coyo-global-permissions="ACCESS_WORKSPACES">
          <a href ui-sref="main.workspace" data-test="navigation-workspaces">
            <i class="zmdi zmdi-hc-fw zmdi-apps" aria-hidden="true"></i><!--
         --><span class="nav-item-label" aria-hidden="true">&nbsp;{{:: 'NAVIGATION.WORKSPACES' | translate}}</span><!--
         --><span class="sr-only" translate="NAVIGATION.WORKSPACES"></span>
          </a>
          <coyo-tour-step topic="navigation" order="15" step-id="navigation.workspaces" aria-hidden="true"
                          title="{{:: 'TOUR.MAIN.WORKSPACES.TITLE' | translate }}" placement="bottom" fixed="true"
                          content="{{:: 'TOUR.MAIN.WORKSPACES' | translate }}"></coyo-tour-step>
        </li>

        <!-- EVENTS -->
        <li class="nav-item hidden-sm hidden-xs" ng-class="{'nav-item-icon': $root.search.visible}"
            ui-sref-active="active" coyo-global-permissions="ACCESS_EVENTS">
          <a href ui-sref="main.event"  data-test="navigation-events">
            <i class="zmdi zmdi-hc-fw zmdi-calendar" aria-hidden="true"></i><!--
         --><span class="nav-item-label" aria-hidden="true">&nbsp;{{:: 'NAVIGATION.EVENTS' | translate}}</span><!--
         --><span class="sr-only" translate="NAVIGATION.EVENTS"></span>
          </a>
          <coyo-tour-step topic="navigation" order="20" step-id="navigation.events" aria-hidden="true"
                          title="{{:: 'TOUR.MAIN.EVENTS.TITLE' | translate }}" placement="bottom" fixed="true"
                          content="{{:: 'TOUR.MAIN.EVENTS' | translate }}"></coyo-tour-step>
        </li>
      </ul>

      <oyoc-search-bar></oyoc-search-bar>

      <ul class="nav nav-right" role="navigation" aria-label="{{::'NAVIGATION.RIGHT.ARIA' | translate}}">

        <!-- LAUNCHPAD -->
        <li class="nav-item nav-item-icon nav-item-launchpad" ng-if="$ctrl.launchpadActive" coyo-global-permissions="ACCESS_LAUNCHPAD">
          <a href ng-click="$ctrl.openLaunchpad()">
            <i class="zmdi zmdi-hc-fw zmdi-bookmark-outline" aria-hidden="true"></i>
            <span class="sr-only" translate="NAVIGATION.LAUNCHPAD"></span>
          </a>
          <coyo-tour-step topic="navigation" order="25" step-id="navigation.launchpad"
                          placement="bottom" fixed="true"
                          title="{{:: 'TOUR.MAIN.LAUNCHPAD.TITLE' | translate }}"
                          content="{{:: 'TOUR.MAIN.LAUNCHPAD' | translate }}"></coyo-tour-step>
        </li>

        <!-- NOTIFICATIONS -->
        <oyoc-notifications-dialog></oyoc-notifications-dialog>

        <!-- MESSAGING -->
        <oyoc-messaging-navbar-item></oyoc-messaging-navbar-item>

        <!-- COLLEAGUES -->
        <li class="nav-item nav-item-icon hidden-sm hidden-xs"
            ui-sref-active="active"
            coyo-global-permissions="ACCESS_COLLEAGUE_LIST"
            data-test="navigation-colleagues">
          <a href ui-sref="main.colleagues">
            <i class="zmdi zmdi-hc-fw zmdi-accounts-alt" aria-hidden="true"></i><!--
         --><span class="sr-only" translate="NAVIGATION.COLLEAGUES"></span>
          </a>
          <coyo-tour-step topic="navigation" order="35" step-id="navigation.colleagues" aria-hidden="true"
                          title="{{:: 'TOUR.MAIN.COLLEAGUES.TITLE' | translate }}"
                          placement="bottom" fixed="true"
                          content="{{:: 'TOUR.MAIN.COLLEAGUES' | translate }}"></coyo-tour-step>
        </li>

        <!-- PROFILE -->
        <li ng-if="$root.screenSize.isMd || $root.screenSize.isLg" class="nav-item nav-item-icon nav-item-profile" uib-dropdown>
          <a href uib-dropdown-toggle data-test="navigation-dropdown" aria-haspopup="true">
            <coyo-user-avatar [user]="::$ctrl.user"
                              [no-link]="true"
                              ng-if="::$ctrl.user"
                              class="profile-thumb"
                              [show-external-flag]="false"
                              avatar-size="xs"
                              aria-hidden="true"></coyo-user-avatar>
            <i class="zmdi zmdi-caret-down ml-xxs" aria-hidden="true"></i>
            <span class="sr-only" translate="NAVIGATION.USER_DROPDOWN.ARIA"></span>
          </a>
          <span class="hidden" translate="NAVIGATION.USER_DROPDOWN.ARIA" id="user-drop-down-label"></span>
          <ul class="dropdown-menu pull-right" role="navigation" aria-labelledby="user-drop-down-label">
            <li ui-sref-active="active"
                coyo-global-permissions="{{::$ctrl.allAdminPermissions}}"
                data-test="navigation-administration">
              <a ui-sref="admin">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>&nbsp;{{:: 'ADMIN.TITLE' | translate}}
              </a>
            </li>
            <li ui-sref-active="active" coyo-global-permissions="MANAGE_REPORTS">
              <a ui-sref="main.report" data-test="navigation-reports">
                <i class="zmdi zmdi-alert-circle zmdi-hc-fw" aria-hidden="true"></i>&nbsp;{{:: 'NAVIGATION.REPORTS' | translate}}
              </a>
            </li>
            <oyoc-moderator-navbar-item user="::$ctrl.user"></oyoc-moderator-navbar-item>
            <oyoc-view-edit-nav-item></oyoc-view-edit-nav-item>
            <li class="divider" coyo-global-permissions="MANAGE_GLOBAL_WIDGETS,{{::$ctrl.allAdminPermissions}}"></li>
            <li ui-sref-active="active" coyo-global-permissions="ACCESS_OWN_USER_PROFILE">
              <a href ui-sref="main.profile({userId: $ctrl.user.slug})" data-test="navigation-profile">
                <i class="zmdi zmdi-account-circle zmdi-hc-fw" aria-hidden="true"></i>&nbsp;{{:: 'NAVIGATION.PROFILE' | translate}}
              </a>
            </li>
            <li ui-sref-active="active" ng-if="::$ctrl.fileLibraryActivated">
              <a href coyo-file-library-trigger sender="::$ctrl.user" data-test="navigation-file-library">
                <i class="zmdi zmdi-file zmdi-hc-fw" aria-hidden="true"></i>&nbsp;{{:: 'NAVIGATION.FILE_LIBRARY' | translate}}
              </a>
            </li>
            <li class="divider" coyo-global-permissions="ACCESS_FILES" aria-hidden="true"></li>
            <li ui-sref-active="active" coyo-global-permissions="MANAGE_ACCOUNT_SETTINGS,ACCESS_OWN_USER_PROFILE"
                require-all-permissions="true">
              <a href ui-sref="main.account" data-test="navigation-account-settings">
                <i class="zmdi zmdi-account-box-o zmdi-hc-fw" aria-hidden="true"></i>&nbsp;{{:: 'MODULE.ACCOUNT.HEADER' | translate }}
              </a>
            </li>
            <li ui-sref-active="active" coyo-global-permissions="MANAGE_NOTIFICATION_SETTINGS">
              <a href ui-sref="main.account-notifications" data-test="navigation-notification-settings">
                <i class="zmdi zmdi-notifications-none zmdi-hc-fw" aria-hidden="true"></i>&nbsp;{{:: 'MODULE.ACCOUNT.NOTIFICATION_SETTINGS.HEADER' | translate}}
              </a>
            </li>
            <li class="divider" coyo-global-permissions="MANAGE_ACCOUNT_SETTINGS,MANAGE_NOTIFICATION_SETTINGS"></li>
            <li ng-if="$ctrl.hasTourSteps">
              <a href ng-click="$ctrl.restartTour()" data-test="navigation-tour-restart">
                <i class="zmdi zmdi-pin-help zmdi-hc-fw" aria-hidden="true"></i>&nbsp;{{::'NAVIGATION.TOUR.RESTART'| translate}}
              </a>
            </li>
            <li ng-if="::$ctrl.termsActive" data-test="navigation-terms-of-use">
              <a href ng-click="$ctrl.showTerms()">
                <i class="zmdi zmdi-shield-security zmdi-hc-fw" aria-hidden="true"></i>&nbsp;{{::'NAVIGATION.TERMS'| translate}}
              </a>
            </li>
            <li>
              <a href ng-click="$ctrl.help($event)" data-test="navigation-help">
                <i class="zmdi zmdi-help-outline zmdi-hc-fw" aria-hidden="true"></i>&nbsp;{{::'HELP' | translate}}
              </a>
            </li>
            <li>
              <a href ng-click="$ctrl.about($event)" class="coyo-c" data-test="navigation-about">&nbsp;{{::'ABOUT' | translate}}</a>
            </li>
            <li class="divider" aria-hidden="true"></li>
            <li ui-sref-active="active">
              <a href ng-click="$ctrl.logout()" data-test="navigation-logout">
                <i class="zmdi zmdi-power zmdi-hc-fw" aria-hidden="true"></i>&nbsp;{{::'MODULE.LOGOUT.HEADER' | translate}}
              </a>
            </li>
          </ul>
          <coyo-tour-step topic="navigation" order="40" step-id="navigation.profile" aria-hidden="true"
                          title="{{:: 'TOUR.MAIN.PROFILE.TITLE' | translate }}" placement="bottom-right" fixed="true"
                          content="{{:: 'TOUR.MAIN.PROFILE' | translate }}"></coyo-tour-step>
        </li>
      </ul>
    </div>
  </nav>

  <oyoc-loadingbar-container></oyoc-loadingbar-container>
</div>
