<div class="panel file-library-app" data-test="panel-documents-app">
  <div class="panel-heading">
    <h3 class="panel-title">{{::$ctrl.app.name}}</h3>
  </div>
  <div class="panel-body file-library file-library-standalone">
    <coyo-file-library sender="::$ctrl.sender" options="$ctrl.fileLibraryOptions"></coyo-file-library>
  </div>
</div>
