<div class="blog-widget">
  <h4 class="widget-title">
    {{::$ctrl.widget.settings._titles[0] || ("WIDGETS.BLOG.NAME" | translate)}}
  </h4>
  <coyo-widget-status load-data="$ctrl.loadArticles()" empty-message="WIDGETS.BLOG.NO_ARTICLES" skeleton="$ctrl.config.renderOptions.skeleton"></coyo-widget-status>
  <coyo-refresh watch="$ctrl.lastUpdate">
    <div class="blog-widget-article" ng-repeat="article in ::$ctrl.articles">
      <div class="blog-teaser-image-wrapper"
           ng-if="::$ctrl.widget.settings._showTeaserImage">
        <a ng-href="{{:: $ctrl.links[article.articleTarget.params.id]}}">
          <coyo-image-reference class="blog-teaser-image"
                              ng-if="::article.teaserImageWideFileId"
                              file-id="::article.teaserImageWideFileId"
                              sender-id="::article.teaserImageWideSenderId"
                              size-definitions="{'default': 'L'}">
          </coyo-image-reference>
        </a>
        <div class="blog-widget-icon" ng-if="::!article.teaserImageWideFileId" ng-class="{'no-teaser-image': !article.teaserImageWideFileId}">
          <i class="zmdi zmdi-file-text"></i>
        </div>
      </div>

      <div class="blog-widget-info">
        <a class="blog-widget-info-title" ng-href="{{:: $ctrl.links.articles[article.articleTarget.params.id]}}">{{::article.title}}</a>
        <div class="small text-muted">
          <coyo-time-ago [date]="::article.publishDate"></coyo-time-ago>
          <span translate="WIDGETS.BLOG.SETTINGS.BLOG_APP.IN"></span>
          <a class="blog-widget-info-sender" ng-href="{{:: $ctrl.links.senders[article.senderTarget.params.id]}}">{{::article.senderName}}</a>
          <span translate="WIDGETS.BLOG.SETTINGS.BLOG_APP.AT"></span>
          <a class="blog-widget-info-app" ng-href="{{:: $ctrl.links.apps[article.appTarget.params.id]}}">{{::article.appDisplayname}}</a>
        </div>
      </div>
    </div>
  </coyo-refresh>
</div>
