@import "variables";

:host-context(.dropdown-menu) {

  line-height: 1.6;

  > a {
    display: block;
    color: $color-gray-darker;
    padding: $padding-base-vertical $padding-base-horizontal;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $dropdown-link-hover-color;
      background-color: $dropdown-link-hover-bg;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    > a {
      padding: 10px 16px;
      font-size: 16px;
      text-align: center;
      display: block;
      color: hsla(var(--color-white-h), var(--color-white-s), var(--color-white-l), 0.9);
      background-color: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.9);
      margin-top: 6px;
      border-radius: 5px;

      .zmdi {
        width: auto;
      }
    }
  }
}
