@import "variables";

:host-context(coyo-comment .sender-avatar.sm) {
  bottom: -6px;

  .user-external.btn {
    height: 14px;
    width: 18px;
    line-height: 8px;
    i {
      font-size: 10px;
    }
  }
}

:host-context(coyo-comment .sender-avatar.xs) {
  right: 3px;
}

:host {
  position: absolute;
  bottom: -10px;
  right: 16px;

  :host-context(.xl) {
    right: 68px;
  }

  :host-context(.lg) {
    right: 44px;
  }

  :host-context(.md) {
    right: 28px;
    bottom: -8px;
  }

  :host-context(.sm) {
    right: 8px;
    bottom: -8px;

    .user-external {
      height: 20px;
      width: 24px;
      font-size: 14px;
      padding-top: 0;
    }
  }

  :host-context(.xs) {
    right: 5px;
    bottom: -8px;

    .user-external {
      height: 14px;
      width: 18px;

      padding-top: 0;
      font-size: 10px;
      line-height: 1px;
    }
  }
}

.user-external {
  border-radius: 12px;
  height: 24px;
  width: 28px;
  background-color: $n200;
  outline: 0;
  font-size: 16px;
  line-height: 16px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border: 2px solid $n0;
  color: $n0;
  text-shadow: 1px 0 $n0;
  letter-spacing: 1px;
  font-weight: bold;
}
