.reconnect-warning-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: $color-white;
  background-color: $color-red;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1029;

  @media print, screen and (min-width: $screen-lg-min) {
    padding-right: $size-sidebar-messaging-static;

    &.compact {
      padding-right: $size-sidebar-messaging-compact;
    }
  }

  a {
    color: $color-white;

    &:hover {
      color: $color-gray-lighter;
    }
  }
}

form[name="reconnectForm"] {
  .modal-body {
    text-align: center;

    .zmdi-close {
      cursor: pointer;
    }

    .zmdi-cloud-off {
      font-size: 68px;
      margin: 25px 0;
      display: block;
    }
  }
}
