<ng-container *ngIf="count$ | async as countState">
  <coyo-share-button [target]="target" [condensed]="true"
                     (shareCreated)="shareCreated.emit($event)"></coyo-share-button>
  <coyo-share-info [target]="target" [condensed]="true" [count]="countState.count"
                   (sharesUpdated)="sharesUpdated.emit($event)" (sharesDeleted)="sharesDeleted.emit($event)"></coyo-share-info>
</ng-container>
