<div class="modal-content-wrapper">
  <div class="modal-header">
    <h3 class="modal-title">{{:: vm.title | translate:vm.translationContext }}</h3>
    <span class="modal-close" ng-click="vm.onDismiss ? vm.onDismiss() : $dismiss('cancel')"><i class="zmdi zmdi-close img-close"></i></span>
  </div>
  <div class="modal-body">
    <span>{{:: vm.text | translate:vm.translationContext }}</span>
    <div ng-repeat="alert in vm.alerts" class="mt-xs alert alert-{{:: alert.level }}">
      <strong>{{:: alert.title | translate:vm.translationContext }}</strong>
      <span>{{:: alert.text | translate:vm.translationContext }}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-repeat="button in vm.buttons" class="btn {{:: button.style }}"
            ng-class="{'btn-zmdi': !button.title, 'modal-mobile-hide': button.hideMobile}"
            ng-click="button.onClick()">
      <i ng-if="button.icon" class="zmdi zmdi-hc-fw zmdi-{{ button.icon }}"></i>{{:: button.title | translate:vm.translationContext }}
    </button>
  </div>
</div>
