<ng-container *ngIf="state$ | async; let state">
  <section role="region" class="timeline-stream coyo-new" data-test="timeline-stream" *ngIf="visible$ | async">
    <div *ngIf="canPost$ | async" class="tour-placeholder-container">
      <coyo-timeline-form [type]="type" [context]="context"></coyo-timeline-form>
      <coyo-tour-step topic="timeline" order="60" stepId="timeline.stream" placement="bottom"
                      [title]="'TOUR.MAIN.TIMELINE.TITLE' | translate"
                      [content]="'TOUR.MAIN.TIMELINE' | translate"></coyo-tour-step>
    </div>
    <button mat-flat-button type="button" size="small" color="accent" class="btn-load-new"
            (click)="loadNew()" *ngIf="!state.loadingNew && state.newItemsCount"
            data-test="show-new-timeline-items">{{'MORE.NEW' | translate:state}}</button>
    <coyo-timeline-item-skeleton *ngIf="state.loadingNew" [single]="true"></coyo-timeline-item-skeleton>
    <div *ngFor="let item of state.items;trackBy: trackItem">
      <div class="most-recent-items-divider" *ngIf="item.id === state.mostRecentItemId">
        <span class="line"></span>
        <span class="text">
        <span translate="MODULE.TIMELINE.MOST_RECENT_DIVIDER"></span>
        </span>
        <span class="line"></span>
      </div>
      <coyo-timeline-item data-test="timeline-item" [timelineItem]="item"
                            [contextId]="context?.id"
                            [type]="type"></coyo-timeline-item>
    </div>
    <coyo-timeline-item-skeleton *ngIf="state.loading"></coyo-timeline-item-skeleton>
    <button mat-flat-button type="button" size="small" color="accent" class="btn-load-more"
            [disabled]="state.loading"
            (click)="loadMore()" *ngIf="!state.page?.last"
            data-test="load-more-timeline-items">{{'MORE' | translate}}</button>
  </section>
</ng-container>
