<form name="form" role="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate data-test="timeline-edit-modal">
  <div class="modal-content-wrapper">
    <div class="modal-header">
      <h3 class="modal-title" translate="MODULE.TIMELINE.EDIT.MODAL.TITLE"></h3>
      <button type="button" class="coyo-btn coyo-btn-sm coyo-btn-link coyo-btn-icon" (click)="close()" [attr.aria-label]="'CLOSE' | translate">
        <i class="zmdi zmdi-close" aria-hidden="true"></i>
      </button>
    </div>

    <div class="modal-body">
      <div *ngIf="showMessageHintSubject | async" class="alert alert-warning" translate="MODULE.TIMELINE.EDIT.MODAL.PERMISSIONS.WARNING"></div>
      <textarea id="message"
                name="message"
                formControlName="message"
                class="form-control resize-v"
                autosize
                coyoMention
                data-test="input-timeline-edit">
      </textarea>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" data-test="button-timeline-edit-save"
              [disabled]="!formGroup.valid || sendFormData">{{'SAVE' | translate}}</button>
      <button type="button" class="btn btn-default" data-test="button-timeline-edit-cancel" (click)="close()" translate="CANCEL"></button>
    </div>
  </div>
</form>
