<section class="pages-list content-with-sidebar">
  <aside class="content-sidebar" role="complementary">

    <!-- Widget Slot -->
    <coyo-widget-slot class="widget-slot-sidebar hidden-xs hidden-sm"
                 name="pages-list-top"
                 hide-slot-placeholder="!$root.globalEditMode"></coyo-widget-slot>

    <coyo-filterbox vertical="true" class="panel-navigation">
      <fb-actions>
        <li>
          <a ui-sref="main.page.create" class="tour-placeholder-container" coyo-global-permissions="CREATE_PAGE" data-test="button-create-page">
            <i class="zmdi zmdi-plus-circle"></i>&nbsp;{{:: 'MODULE.PAGES.CREATE.TITLE' | translate}}
            <coyo-tour-step topic="pages" order="110" placement="bottom" step-id="pages.create" fixed="true"
                            title="{{:: 'TOUR.PAGES.CREATE.TITLE' | translate }}"
                            content="{{:: 'TOUR.PAGES.CREATE' | translate }}"></coyo-tour-step>
          </a>
        </li>
      </fb-actions>
      <fb-filter max-depth="1">
        <coyo-category-filter
            categories="ctrl.categories"
            filter-model="ctrl.categoryFilter"
            category-model-class="ctrl.categoryModelClass"
            title-key="MODULE.PAGES.FILTER.CATEGORY"
            on-selection-change="ctrl.setFilterCategories(selected)"
            can-manage="ctrl.canManagePageCategories"
            total-count="ctrl.getTotalCount()"
            not-available-count="ctrl.missingCount"
            editing-category="ctrl.editingCategory">
        </coyo-category-filter>
        <coyo-selection-filter
            title-key="MODULE.PAGES.FILTER.STATUS"
            filter-model="ctrl.statusFilterModel"
            single-select="true"
            on-single-selection-change="ctrl.setFilterStatus(selected)"
            text-prefix="MODULE.PAGES.FILTER"
            css-class="filter-status">
        </coyo-selection-filter>
      </fb-filter>
      <fb-search>
        <coyo-search-filter change="ctrl.search" placeholder="MODULE.PAGES.FILTER.SEARCH" search-term="{{ctrl.query.term}}"></coyo-search-filter>
      </fb-search>
    </coyo-filterbox>

    <coyo-tour-step-mobile topic="pages" order="105"
                           image-url="/assets/images/tour/tour-mobile-pages-list.jpg"
                           title="{{:: 'TOUR.PAGES.LIST.TITLE' | translate }}"
                           content="{{:: 'TOUR.PAGES.LIST' | translate }}"></coyo-tour-step-mobile>

    <coyo-tour-step-mobile topic="pages" order="110"
                           image-url="/assets/images/tour/tour-mobile-pages-create.jpg"
                           title="{{:: 'TOUR.PAGES.CREATE.TITLE' | translate }}"
                           content="{{:: 'TOUR.PAGES.CREATE' | translate }}"></coyo-tour-step-mobile>

    <coyo-tour-step-mobile topic="pages" order="115"
                           image-url="/assets/images/tour/tour-mobile-pages-subscribe.jpg"
                           title="{{:: 'TOUR.PAGES.SUBSCRIBE.TITLE' | translate }}"
                           content="{{:: 'TOUR.PAGES.SUBSCRIBE' | translate }}"></coyo-tour-step-mobile>

    <!-- Widget Slot -->
    <coyo-widget-slot class="widget-slot-sidebar hidden-xs hidden-sm"
                 name="pages-list-bottom"
                 hide-slot-placeholder="!$root.globalEditMode"></coyo-widget-slot>
  </aside>

  <main class="content-main" role="main">

    <!-- Widget Slot -->
    <coyo-widget-slot class="widget-slot-content"
                 name="pages-list-content"
                 hide-slot-placeholder="!$root.globalEditMode"></coyo-widget-slot>

    <coyo-tour-step topic="pages" order="105" placement="bottom" no-highlight="true" popup-class="mt-l"
                    step-id="pages.list" fixed="true"
                    title="{{:: 'TOUR.PAGES.LIST.TITLE' | translate }}"
                    content="{{:: 'TOUR.PAGES.LIST' | translate }}"></coyo-tour-step>

    <div class="row" ng-if="ctrl.loading">
      <div class="col-sm-6 col-xl-6" ng-if="$root.screenSize.isLg || $root.screenSize.isSm">
        <coyo-render-skeleton container="skeleton-container-page-card" name="skeleton-page-card"></coyo-render-skeleton>
      </div>
      <div class="col-sm-6 col-xl-6" ng-if="$root.screenSize.isLg || $root.screenSize.isSm">
        <coyo-render-skeleton container="skeleton-container-page-card" name="skeleton-page-card"></coyo-render-skeleton>
      </div>
      <div class="col-md-12" ng-if="$root.screenSize.isMd || $root.screenSize.isXs">
        <coyo-render-skeleton container="skeleton-container-page-card" name="skeleton-page-card"></coyo-render-skeleton>
      </div>
    </div>

    <div class="row" ng-if="!ctrl.loading">
      <div class="col-sm-6 col-md-12 col-xl-6" ng-repeat="page in ctrl.currentPage.content">
        <div class="panel panel-default panel-sm page-card">
          <div class="panel-body">
            <div class="page-card-heading">
              <!-- cover image -->
              <div class="panel-card-cover">
                <a ui-sref="main.page.show({idOrSlug: page.slug})">
                  <coyo-sender-cover-image image-url="page.imageUrls.cover" show-high-res="false"></coyo-sender-cover-image>
                </a>
              </div>

              <!-- avatar image -->
              <div class="page-avatar-wrapper">
                <coyo-sender-avatar [sender]="page"></coyo-sender-avatar>
              </div>

              <!-- subscription button / hint -->
              <div class="page-subscribe-wrapper">
                <span ng-if=":: ctrl.isAutoSubscribe(page)" class="page-autosubscription-hint">
                  <span translate="PAGE.AUTOSUBSCRIBED"></span>
                  <i class="zmdi zmdi-help page-autosubscription-help"
                     uib-tooltip="{{:: 'PAGE.AUTOSUBSCRIBED.HELP' | translate }}"
                     tooltip-placement="top auto"
                     tooltip-append-to-body="true"></i>
                </span>
                <span ng-if="ctrl.subscriptionsLoaded == true" class="tour-placeholder-container" coyo-global-permissions="FOLLOW_PAGE">
                  <coyo-page-subscribe page="::page" size="md"></coyo-page-subscribe>
                  <coyo-tour-step ng-if=":: !ctrl.isAutoSubscribe(page)" fixed="true"
                                  topic="pages" order="115" placement="left" step-id="pages.subscribe"
                                  title="{{:: 'TOUR.PAGES.SUBSCRIBE.TITLE' | translate }}"
                                  content="{{:: 'TOUR.PAGES.SUBSCRIBE' | translate }}"></coyo-tour-step>
                </span>
              </div>
            </div>
            <div class="page-card-body">
              <h4 class="page-title pointer">
                <a ui-sref="main.page.show({idOrSlug: page.slug})">{{:: page.displayName }}</a>
              </h4>
              <div class="page-description" ng-if="!!page.description">{{:: page.description}}</div>
              <div class="page-card-apps-list-wrapper">
                <ul class="list-unstyled page-card-apps">
                  <li ng-repeat="app in ::page.topApps">
                    <a ng-href="{{::ctrl.getAppLink(app, page)}}">{{:: app.name }}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="page-card-footer">
              <div class="page-card-labels">
                <div class="page-card-labels-wrapper">
                  <coyo-page-visibility page="::page" class="label label-muted"></coyo-page-visibility>
                  <div class="label label-muted"><i class="zmdi zmdi-accounts"></i> {{:: page.userSubscriptionsCount }}</div>
                  <div class="label label-muted" ng-repeat="category in ::page.categories | orderBy:'name'">{{:: category.name }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- empty text -->
    <coyo-empty-list-notice
        ng-show="!ctrl.loading && !ctrl.currentPage.totalElements"
        text-key="MODULE.PAGES.EMPTY"
        filters-resettable="ctrl.filtersResettable"
        reset-filters="ctrl.resetFilters()">
    </coyo-empty-list-notice>

    <div class="col-xs-12" ng-if="ctrl.currentPage">
      <coyo-table-pagination page="ctrl.currentPage"></coyo-table-pagination>
    </div>
  </main>
</section>
