<li class="nav-item nav-item-icon notifications-dialog-parent" ng-show="$ctrl.visible">
  <a href id="notification-toggle" aria-haspopup="true" ng-click="$ctrl.toggle()" data-test="notification-toggle">
    <i class="zmdi zmdi-hc-fw zmdi-notifications-none"></i>
    <span class="notifications-unseen" ng-if="$ctrl.status && $ctrl.status.unseen._total > 0" aria-hidden="true">
      {{ $ctrl.status.unseen._total >= 100 ? '99+' : $ctrl.status.unseen._total}}
    </span>
    <span class="sr-only">{{'NOTIFICATIONS.DIALOG.' + ($ctrl.show  ? 'CLOSE' : 'OPEN') + '.AIRA' | translate}}"></span>
  </a>
  <span class="zmdi zmdi-caret-up" ng-if="$ctrl.show" aria-hidden="true"></span>

  <div id="notifications-dialog" class="notifications-dialog" ng-if="$ctrl.show" click-outside="$ctrl.close()" outside-if-not="notification-toggle">

    <ul class="notifications-tabs" role="tablist">
      <li ng-repeat="category in ::$ctrl.categories" role="presentation">
        <a ng-class="{active: $ctrl.category == category}" href
           role="tab" aria-selected="{{$ctrl.category == category}}"
           aria-controls="notification-panel-{{:: category | lowercase }}"
           ng-click="$ctrl.switchCategory(category);$event.stopPropagation()" data-test="notification-tabs">
          <span class="sr-only" translate="{{:: 'NOTIFICATIONS.CATEGORY.' + category + '.UNREAD.ARIA'}}"
                translate-values="{count: $ctrl.status.unclicked[category]}"></span>
          <span aria-hidden="true">{{:: 'NOTIFICATIONS.CATEGORY.' + category | translate }}</span>
          <span ng-if="$ctrl.status && $ctrl.status.unseen[category] > 0"
                class="badge badge-red"
                aria-hidden="true"
                uib-tooltip="{{:: 'NOTIFICATIONS.UNSEEN' | translate }}"
                tooltip-placement="bottom"
                tooltip-popup-delay="500"
                tooltip-append-to-body="true">
            {{$ctrl.status.unseen[category]}}
          </span>
          <span ng-if="$ctrl.status && $ctrl.status.unclicked[category] > 0 && $ctrl.status.unseen[category] <= 0"
                class="badge badge-muted"
                aria-hidden="true"
                uib-tooltip="{{:: 'NOTIFICATIONS.UNCLICKED' | translate }}"
                tooltip-placement="bottom"
                tooltip-popup-delay="500"
                tooltip-append-to-body="true">
            {{$ctrl.status.unclicked[category]}}
          </span>
        </a>
      </li>
    </ul>

    <div ng-repeat="category in ::$ctrl.categories"
         id="notification-panel-{{:: category | lowercase }}"
         class="notifications-items notifications-{{:: category | lowercase }}"
         ng-if="$ctrl.category == category"
         coyo-infinite-scroll="$ctrl.loadMore(category)">
      <ul role="list" aria-label="{{::'NOTIFICATIONS.CATEGORY.' + category + '.LIST.ARIA' | translate}}">
        <li class="item"
            role="listitem"
            ng-repeat="notification in $ctrl.data[category].items"
            ng-class="{highlighted: !notification.clicked}"
            ng-click="$ctrl.markClicked(notification)">
          <coyo-user-avatar ng-if="::category == 'DISCUSSION'" [user]="::notification.author" avatar-size="sm"  aria-hidden="true"></coyo-user-avatar>
          <i ng-if="::category == 'ACTIVITY'" class="notification-icon zmdi zmdi-{{:: $ctrl.getIcon(notification.typeName) }}"></i>

          <div class="notification-content" tabindex data-test="notification-item">
            <a ng-href="{{:: $ctrl.links[notification.id]}}"  ng-click="$ctrl.clickHandler(notification.target)">
            <div class="text" ng-bind-html="::notification.messageKey | translate:notification.messageArguments | boldify"></div>
            <div class="excerpt" ng-if="::notification.excerpt">{{:: notification.excerpt }}</div>
            <div class="time">
              <i class="zmdi zmdi-time zmdi-wide"></i>
              <coyo-time-ago [date]="::notification.created"></coyo-time-ago>
            </div>
            </a>
          </div>
        </li>
      </ul>

      <div class="empty" ng-if="$ctrl.data[category].items && !$ctrl.data[category].items.length" translate="NOTIFICATIONS.EMPTY"></div>

      <div ng-if="$ctrl.data[category].loading" aria-hidden="true">
        <coyo-notification-item-skeleton class-name="{{category | lowercase}}"></coyo-notification-item-skeleton>
      </div>
    </div>

    <a class="notifications-mark-clicked" href
       ng-click="$ctrl.markAllClicked($ctrl.category)"
       ng-if="$ctrl.category && $ctrl.status.unclicked[$ctrl.category] > 0">
      <i class="zmdi zmdi-check-all zmdi-wide"></i>&nbsp;{{:: 'NOTIFICATIONS.MARK_CLICKED' | translate }}
    </a>
  </div>

  <coyo-tour-step topic="navigation" order="30" step-id="navigation.notifications"
                  aria-hidden="true" placement="bottom"  fixed="true"
                  title="{{:: 'TOUR.MAIN.NOTIFICATIONS.TITLE' | translate }}"
                  content="{{:: 'TOUR.MAIN.NOTIFICATIONS' | translate }}"></coyo-tour-step>

</li>
