@import "variables";
@import "mixins";

:host {
  display: flex;
  flex-direction: row;
  padding: 0 24px;
  height: 64px;
  align-items: center;
  background-color: $n0;
  transition: box-shadow .15s linear;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  @include sm-and-up() {
    padding: 0 40px;
    height: 80px;
  }

  &.floating {
    border-bottom: 1px solid $n50;
    @include box-shadow(0, 4px, 12px, 0, rgba(16, 29, 48, 0.1));
  }
}

.launchpad-header-title {
  margin-right: auto;
  font-weight: bold;
  font-size: 18px;
  color: $n600;
}

.launchpad-close {
  margin-left: 24px;

  @include sm-and-up() {
    margin-left: 32px;
  }
}
