.navbar-sub {
  background-color: $color-white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  color: $color-gray-dark;
  display: none;
  height: 40px;
  min-height: 40px;
  margin: 0;

  .nav {
    display: flex;
    overflow-x: auto;
  }

  .nav-item {
    > a {
      background-color: transparent !important;
      color: $color-gray;
      padding: 8px 18px;
      white-space: nowrap;
    }

    > a:hover, > a:focus, > a:hover:focus {
      color: $color-gray-darker;
    }

    &.active > a,
    &.active > a:hover, &.active > a:focus, &.active > a:hover:focus {
      color: $color-primary;
      font-weight: bold;
    }
  }

  @media print, screen and (min-width: $screen-md-min) {
    display: block;
    position: fixed;
    top: $navbar-height;
    z-index: $zindex-subnav;
  }

  @media print, screen and (min-width: $screen-lg-min) {
    position: static;
  }
}

.landing-pages-multiple {
  @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    padding-top: 40px;
  }
}

.global-edit-mode .landing-pages {
  @media screen and (max-width: $screen-sm-max) {
    margin-top: 12px;
  }
}
