@import 'variables';
@import 'mixins';

:host {
  position: absolute;
}

.mention-reference {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  visibility: hidden;
  opacity: .5;
  position: relative;
  left: 3px;
  top: -2px;

  @include sm-and-up() {
    left: -100%;
  }
}
