<div class="single-wiki-article-widget">
  <coyo-widget-status load-data="$ctrl.loadArticle()" empty-message="WIDGETS.WIKIARTICLE.NO_ARTICLES"
                      skeleton="$ctrl.config.renderOptions.skeleton"></coyo-widget-status>

  <coyo-refresh watch="$ctrl.lastUpdate">
    <div class="article-meta">
      <a class="article-sender"
         ng-href="{{:: $ctrl.links.sender}}" title="{{::$ctrl.widget.article.senderName}}">{{::$ctrl.widget.article.senderName}}</a>
      <span class="article-time" ng-if="::$ctrl.widget.article.created">{{::$ctrl.widget.article.created  | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.medium}}</span>
    </div>
    <h3 class="article-title pointer">
      <a ng-href="{{:: $ctrl.links.article}}">{{::$ctrl.widget.article.title}}</a>
    </h3>
  </coyo-refresh>
</div>
