.event-create,
.event-settings {
  display: flex;
  justify-content: center;

  .input-group {
    &:not(.full-day) {
      coyo-date-picker {
        input {
          &:active,
          &:focus {
            border-right: 1px solid $color-primary;
          }

          border-right: 1px solid transparent;
        }
      }
    }
  }

  .panel {
    margin: auto;
    max-width: 700px;
  }

  .panel-heading {
    border: none;
  }

  .panel-body {
    padding-bottom: 32px;
  }

  .advanced-settings-divider {
    background-color: $n35;
    padding: 0 32px;
    div {
      height: 2px;
      background-color: $n25;
    }
  }

  .group {
    margin-bottom: 32px;
  }

  .participant-count {
    width: 10%;
    min-width: 76px;
  }

  .form-actions {
    padding: 32px;
  }

  .advanced-settings {
    padding: 22px 16px;
    background-color: $n35;
    margin: 0;

    label.headline {
      margin-bottom: 10px;
    }

    p.text-muted {
      margin-left: 40px;
      margin-top: -14px; // remove this later if checkboxes fixed in general
    }

    input {
      margin-left: 38px;
    }
  }

  .form-group {

    > .input-group-date-picker {
      float: left;
    }

    .participant-count {
      width: 10%;
      min-width: 76px;
    }

    .input-group-date-picker .input-group {
      display: block;

      .date {
        > input {
          width: 65%;
          border-radius: $border-radius-base 0 0 $border-radius-base;
        }
      }

      .time {
        > input {
          text-align: center;
          width: 35%;
          border-radius: 0 $border-radius-base $border-radius-base 0;
        }
      }

      &.full-day {
        .date {
          > input {
            width: 100%;
            border-radius: $border-radius-base $border-radius-base $border-radius-base $border-radius-base;
          }
        }

        .time {
          > input {
            display: none;
          }
        }
      }
    }
  }
}

.event-settings {
  .form-action-buttons {
    button.btn.btn-primary {
      margin-left: 8px;
    }
  }
}
