<a ng-if="$ctrl.invalid" ui-sref="{{::$ctrl.target}}" ui-sref-opts="{reload: true}"
   ng-class="::{'no-link' : !$ctrl.target}">
  <div class="license-warning-bar" ng-class="$ctrl.classes">
    <i class="zmdi zmdi-help"></i><span class="ml-xxs" translate="{{::$ctrl.status}}"></span>
  </div>
</a>
