<ng-container *ngIf="state$ | async; let state">
  <coyo-launchpad-header (close)="dispose()" (addLink)="addLink()"
                         [canAddLink]="state.managableCategories.length" [class.floating]="scrollOffset > 0"></coyo-launchpad-header>
  <div class="launchpad-body-wrapper" (scroll)="onScroll($event)" #launchpadBodyWrapper>
    <div class="launchpad-body">
      <coyo-launchpad-navigation [categories]="state.categories"
                                 [active]="active$ | async"
                                 (navigate)="navigate($event)">
      </coyo-launchpad-navigation>
      <div class="launchpad-apps" *ngIf="isO365 | async">
        <coyo-launchpad-apps [apps]="apps"></coyo-launchpad-apps>
      </div>
      <div class="launchpad-categories">
        <ng-container *ngFor="let category of state.categories">
          <coyo-launchpad-category *ngIf="category.links.length || category._permissions?.manage"
                                   [attr.data-id]="category.id"
                                   [category]="category"
                                   (add)="addLink(category)"
                                   (edit)="editLink(category, $event)"
                                   (delete)="deleteLink(category, $event)"></coyo-launchpad-category>
        </ng-container>
        <coyo-spinner *ngIf="state.isLoading"></coyo-spinner>
      </div>
    </div>
  </div>
</ng-container>
