@import "variables";
@import "mixins";

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $n0;
}

.launchpad-body-wrapper {
  margin-top: 64px;
  overflow-x: hidden;
  overflow-y: auto;

  @include sm-and-up() {
    margin-top: 80px;
  }
}

.launchpad-body {
  max-width: 1024px;
}

.launchpad-categories, .launchpad-apps {
  @include sm-and-up() {
    margin-left: 220px;
  }
}

:host-context(.no-scroll) .launchpad-body-wrapper {
  overflow: hidden;
}

coyo-spinner {
  display: block;
  text-align: center;
}
