<div class="article" *ngIf="(state$ | async) as state">
  <coyo-blog-article-headline [article]="article" [sender]="state.sender"
                              *ngIf="!params.hideHeadline"></coyo-blog-article-headline>
  <div class="teaser" *ngIf="article.teaserImage && !params.hideTeaserImg">
    <coyo-image-reference [fileId]="article.teaserImage.fileId" [senderId]="article.senderId"></coyo-image-reference>
  </div>
  <div class="text">
    <p *ngIf="!params.hideTeaserText">{{article.teaserText}}</p>
    <coyo-widget-layout-ngx layoutName="{{article.buildLayoutName(article.appId, article.usedLanguage)}}"
                            [parent]="article" renderStyle="plain" *ngIf="article">
    </coyo-widget-layout-ngx>
  </div>
  <div class="social-options" *ngIf="showSocialFeatures()">
    <coyo-like-container [author]="state.author" [target]="article" *ngIf="article._permissions.like"></coyo-like-container>
    <coyo-comment-list [author]="state.author" [target]="article" *ngIf="article._permissions.comment"></coyo-comment-list>
  </div>
</div>
