@import "variables";

:host {
  display: block;
}

.btn-show-all {
  display: flex;
  margin: 24px auto 48px;

  .extended {
    transform: scale(1, -1);
  }
}

.app-row {
  display: flex;
  flex-direction: row;
}

.launchpad-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  color: $n200;
  font-size: 14px;
  line-height: 24px;
}
