<a href id="attachment-trigger-{{::$ctrl.uuid}}" aria-label="{{::'ATTACH_FILES' | translate}}" tabindex="0"
   focus-if="$ctrl.focusAttachmentLink" class="attachment-link" data-test="button-attachments">
    <i class="zmdi zmdi-attachment-alt btn-attachments" ng-class="{'item-active': $ctrl.active}"
       uib-tooltip="{{::'ATTACH_FILES' | translate}}" tooltip-popup-delay="500"></i>
</a>
<coyo-context-menu toggle-element="#attachment-trigger-{{::$ctrl.uuid}}" id="attachment-menu-{{::$id}}"
                   aria-label="{{::'ATTACH_FILES' | translate}}" focus-var="$ctrl.focusAttachmentLink">
    <li class="btn-attachments-context-header context-menu-title hidden-xs" aria-hidden="true">
        {{::'ATTACH_FILES' | translate}}
    </li>
    <li class="divider" aria-hidden="true"></li>
    <li role="menuitem" ng-if="$ctrl.fileLibraryActivated">
        <a href ng-click="$ctrl.openCoyoFileLibrary()" tabindex="0"
           aria-label="{{::'MODULE.TIMELINE.ATTACHMENT.FILE_LIBRARY.ARIA' | translate}}">
            <i class="zmdi zmdi-file zmdi-hc-fw" aria-hidden="true"></i>
            {{::'MODULE.TIMELINE.ATTACHMENT.FILE_LIBRARY' | translate}}
        </a>
    </li>
    <li role="menuitem" ng-if="$ctrl.googleApiActivated">
        <a href ng-click="$ctrl.openGSuitePicker()" tabindex="0"
           aria-label="{{::'MODULE.TIMELINE.ATTACHMENT.G_SUITE_PICKER.ARIA' | translate}}">
            <i class="zmdi zmdi-google zmdi-hc-fw" aria-hidden="true"></i>
            {{::'MODULE.TIMELINE.ATTACHMENT.G_SUITE_PICKER' | translate}}
        </a>
    </li>
    <li role="menuitem" ng-if="$ctrl.o365ApiActivated" style="display: none;">
        <a href ng-click="$ctrl.openSharePointOnlinePicker()" tabindex="0"
           aria-label="{{::'MODULE.TIMELINE.ATTACHMENT.SHAREPOINT_ONLINE_PICKER.ARIA' | translate}}">
            <i class="zmdi zmdi-coyo zmdi-coyo-sharepoint-online zmdi-hc-fw" aria-hidden="true"></i>
            {{::'MODULE.TIMELINE.ATTACHMENT.SHAREPOINT_ONLINE_PICKER' | translate}}
        </a>
    </li>
    <li role="menuitem">
        <a href ngf-select="$ctrl.onSelectAttachments({files : $files})" tabindex="0"
           ngf-multiple="true" ng-disabled="$ctrl.saving"
           aria-label="{{::'MODULE.TIMELINE.ATTACHMENT.UPLOAD.ARIA' | translate}}">
            <i class="zmdi zmdi-cloud-upload zmdi-hc-fw" aria-hidden="true"></i>
            {{::'MODULE.TIMELINE.ATTACHMENT.UPLOAD' | translate}}
        </a>
    </li>
</coyo-context-menu>
