.message-form {
  .coyo-btn-link:not([disabled]) {
    color: $n100;

    &:hover {
      color: $n50;
      background-color: transparent;
    }
  }
  .coyo-btn-link[disabled] {
    color: $n200;
  }
}

.tooltip.message-form-tooltip {
  margin: 0;

}
