.create-app-form {
  .alert {
    margin-bottom: 0;
  }
}

.app-chooser {
  margin-top: -8px;

  .app-entry {
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    margin-top: 8px;

    i {
      font-size: 48px;
      height: 82px;
      width: 82px;
      color: $color-gray-darker;
    }

    h5 {
      font-weight: normal;
      margin-top: 8px;
      margin-bottom: 0;
      @include ellipsis();
    }

    &:hover {
      cursor: pointer;
      background-color: $color-gray-lighter;

      i {
        color: $color-link;
        border-color: $color-link;
      }
    }
  }
}

.create-app-form {
  .modal-header {
    h3 {
      coyo-help {
        margin-left: 5px;
      }
    }
  }
}

@media print, screen and (min-width: $screen-sm-min) {
  .app-chooser {

    .app-entry {
      text-align: left;
      padding: 8px 12px;

      i {
        float: left;
        margin: 4px 0;
      }

      .app-entry-description {
        margin-left: 98px;
      }

      h5 {
        margin-top: 0;
        margin-bottom: 6px;
      }

      small {
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 63px;
        overflow: hidden;
      }
    }
  }
}

@media print, screen and (min-width: $screen-md-min) {
  .app-chooser {
    margin-top: -12px;

    .app-entry {
      margin-top: 12px;
      padding: 12px 16px;

      i {
        height: 106px;
        width: 106px;
        line-height: 96px;
        margin: 3px 0;
      }

      .app-entry-description {
        margin-left: 122px;
      }

      h5 {
        margin-top: 1px;
      }

      small {
        max-height: 84px;
        -webkit-line-clamp: 4;
      }
    }
  }
}

.modal-app-chooser.ui-select-translation {
  z-index: 1;
  right: 75px !important;

  @media screen and (max-width: 991px) {
    right: 50px !important;
  }

  @media screen and (max-width: 767px) {
    right: 8px !important;
    top: 60px !important;
    position: absolute;
  }
}

.modal-app-chooser-language-settings {
  .app-settings {
    @media screen and (max-width: 767px) {
      padding-top: 60px;
    }
  }
}

.app-chooser-window {
  @include md-and-up() {
    &.modal-backdrop {
      z-index: 1029 !important;
    }
    z-index: 1030 !important;
  }  
}