<coyo-context-menu *ngIf="comment.partiallyLoaded
                   || (comment._permissions.accessoriginalauthor && comment.author.id !== currentUserId)
                   || comment._permissions.edit
                   || comment._permissions.delete"
                   [onOpen]="onOpen()"
                   [empty]="!hasPermission()"
                   [loading]="loading$ | async" >
  <li *ngIf="comment._permissions.accessoriginalauthor && comment.author.id !== currentUserId">
    <a href="#" (click)="onClickShowOriginalAuthors()">
      <i class="zmdi zmdi-hc-fw" aria-hidden="true"
         [class.zmdi-account]="!showOriginalAuthor" [class.zmdi-account-o]="showOriginalAuthor"></i>&nbsp;<!--
       -->{{ 'MODULE.TIMELINE.ORIGINAL_AUTHOR.' + (!showOriginalAuthor ? '' : 'UN') + 'REVEAL' | translate }}
    </a>
  </li>
  <li *ngIf="editable && comment._permissions.edit">
    <a href="#" (click)="edit.emit()" data-test="edit-comment-button"><i class="zmdi zmdi-hc-fw zmdi-edit" aria-hidden="true"></i>&nbsp;{{ 'EDIT' | translate}}</a>
  </li>
  <li *ngIf="comment._permissions.delete">
    <a href="#" (click)="delete.emit()"><i class="zmdi zmdi-hc-fw zmdi-delete" aria-hidden="true"></i>&nbsp;{{ 'DELETE' | translate}}</a>
  </li>
</coyo-context-menu>
