coyo-context-menu {
  position: absolute;
  top: -9999px;
  right: 0;
}

coyo-context-menu.active,
:host-context(coyo-comment:hover) coyo-context-menu,
:host-context(.touchevents) coyo-context-menu {
  top: 6px;
  right: 16px;
}
