<div class="connection-check">
  <button type="button" class="btn btn-mobile {{ $ctrl.state.btnClass }}"
          ng-disabled="$ctrl.loading"
          ng-click="$ctrl.checkConnection()">
    <i class="zmdi zmdi-hc-fw {{ $ctrl.state.iconClass }}"></i>&nbsp;{{:: 'ADMIN.USER_DIRECTORIES.LDAP.CONNECTION.BUTTON.TEST_CONNECTION' | translate }}
  </button>

  <p class="help-block-successful" ng-if="$ctrl.error === null">{{:: 'ADMIN.USER_DIRECTORIES.LDAP.CONNECTION.SUCCESSFUL.HINT' | translate }}</p>
  <div ng-if="$ctrl.error !== null && $ctrl.error !== undefined">
    <div>
      <p class="help-block-error">{{:: 'ADMIN.USER_DIRECTORIES.LDAP.CONNECTION.FAILURE.HINT' | translate }}</p>
      <label class="control-label">{{:: 'ADMIN.USER_DIRECTORIES.LDAP.CONNECTION.FAILURE.LABEL' | translate }}</label>
      <code class="help-block-code">{{ $ctrl.error }}</code>
      <p class="help-block">{{:: 'ADMIN.USER_DIRECTORIES.LDAP.CONNECTION.FAILURE.TIP' | translate }}</p>
    </div>
  </div>
</div>
