<li ng-if="!$ctrl.canManageRole">
  <a href ui-sref="admin.user-management.roles.view({id: $ctrl.role.id})">
    <i class="zmdi zmdi-hc-fw zmdi-eye"></i>&nbsp;<span translate="ADMIN.USER_MGMT.ROLES.OPTIONS.VIEW.MENU"></span>
  </a>
</li>
<li ng-if="$ctrl.canManageRole">
  <a href ui-sref="admin.user-management.roles.edit({id: $ctrl.role.id})">
    <i class="zmdi zmdi-hc-fw zmdi-edit"></i>&nbsp;<span translate="ADMIN.USER_MGMT.ROLES.OPTIONS.EDIT.MENU"></span>
  </a>
</li>
<li class="divider" ng-if="$ctrl.canDeleteRole"></li>
<li ng-if="$ctrl.canDeleteRole">
  <a href ng-click="$ctrl.actions.deleteRole($ctrl.role);">
    <i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;<span translate="ADMIN.USER_MGMT.ROLES.OPTIONS.DELETE.MENU"></span>
  </a>
</li>
