.forum-app {

  .panel {

    .thread-add-answer-text {
      width: 100%
    }

  }

  .forum-thread {

    .thread-add-answer-panel-body {
      display: flex;
      flex-direction: row;

      .thread-add-answer-user-avatar {
        margin-right: 15px;
      }

      .panel-actions {
        padding-bottom: 0;
      }

      .panel-footer {
        padding-left: 0;
        padding-right: 0;
      }
    }

  }

}
