<div class="modal-content-wrapper">
  <div class="modal-header">
    <h3 class="modal-title" translate="LIKE.LIST.TITLE"></h3>
    <button type="button" class="coyo-btn coyo-btn-sm coyo-btn-link coyo-btn-icon" (click)="close()" [attr.aria-label]="'CLOSE' | translate">
      <i class="zmdi zmdi-close" aria-hidden="true"></i>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let like of (likes$ | async)" class="like">
      <coyo-sender-list-item [sender]="like.sender" avatarSize="xs"></coyo-sender-list-item>
    </div>

    <!-- empty text -->
    <div class="text-center text-muted"
          *ngIf="!loading && !currentPage?.totalElements" translate="LIKE.LIST.EMPTY">
    </div>

    <!-- spinner / loading -->
    <div *ngIf="loading" class="text-center">
      <coyo-spinner size="sm"></coyo-spinner>
    </div>

    <!-- load more -->
    <button type="button" class="btn btn-primary btn-more btn-xs"
            (click)="loadMore()" *ngIf="currentPage && !currentPage?.last && !loading" translate="MORE"></button>
  </div>
</div>
