@import 'variables';

.like {
  border-bottom: 1px solid $color-gray-lighter;
  margin-bottom: 8px;
  padding-bottom: 8px;

  &:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.btn-more {
  margin: 16px auto;
  display: block;
}
