<main role="main" [attr.aria-label]="'MODULE.TIMELINE.PERSONAL.ARIA' | translate" *ngIf="currentUser$ | async; let currentUser"
      class="timeline-widget">
  <coyo-timeline-stream type="personal" [context]="currentUser"></coyo-timeline-stream>
</main>
