@import "mixins";

:host {
  margin-bottom: 0;

  .headline-widget-headline {
    display: block;
    width: 100%;
    margin: 0;
    @include break-word();
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  textarea.headline-widget-headline {
    resize: none;
    clip: none;
    border: 0 none;
    outline: 0 none;
    background: transparent;
    padding: 0;

    &::placeholder {
      color: $n200;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: $n200;
    }
  }
}

.h1, .h2, .h3, .h4 {
  margin-bottom: 0;
}

.h1 textarea {
  min-height: 45px;
}

.h2 textarea {
  min-height: 40px;
}

.h3 textarea {
  min-height: 32px;
}

.h4 textarea {
  min-height: 24px;
}
