.user-profile-widget {

  .user-profile-widget-header {
    text-align: center;
    @include break-word();

    h4 {
      margin: 12px 0 0;

      a {
        color: $text-color;
      }
    }
  }
  .user-profile-widget-infos {
    @include break-word();
  }

  dl,
  dd:last-child {
    margin-bottom: 0;
  }
}

// Special styling in case this widget is not rendered in a panel slot
.widget-slot-plain .user-profile-widget {
  .user-profile-widget-header {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 12px;

    .user-avatar {
      margin-top: 5px;
      margin-right: 10px;
    }

    .name {
      min-width: 0;
    }
  }
}
