<a href="#" (click)="openReportForm()" data-test="button-timeline-post-report">
  <i class="zmdi zmdi-hc-fw zmdi-alert-circle" aria-hidden="true"></i>&nbsp;{{ 'MODULE.TIMELINE.REPORT' | translate }}
</a>
