<article *ngIf="state$ | async as state" [class.has-ribbon]="!!state.ribbonType || state.relevantShare?.unread"
         [class.has-share]="!!state.relevantShare">
  <div id="item-{{state.item.id}}" class="scroll-anchor"></div>
  <coyo-ribbon (click)="markAsRead()" [type]="state.ribbonType" *ngIf="state.ribbonType"></coyo-ribbon>
  <coyo-timeline-share *ngIf="state.relevantShare"
                       [share]="state.relevantShare"
                       [itemType]="state.item.itemType"
                       [showRibbon]="true"
                       (shareUpdated)="updateShare([$event])">
  </coyo-timeline-share>

  <section class="timeline-item-main-part">
    <header>
      <coyo-sender-avatar *ngIf="state.item.author" [sender]="state.item.author"
                          [showExternalFlag]="true"></coyo-sender-avatar>

      <div class="timeline-item-title">
        <div class="timeline-item-title-headline">
          <coyo-sender-link *ngIf="state.item.author" [sender]="state.item.author"
                            customClass="timeline-item-author-name"></coyo-sender-link><!--
       --><ng-container *ngIf="isRecipientNotTheAuthor(state)"><!--
         --><mat-icon svgIcon="chevron-right" size="small" class="chevron"></mat-icon><!--
         --><ng-container *ngFor="let recipient of state.item.recipients; let last = last"><!--
           --><mat-icon svgIcon="globe" size="small" *ngIf="recipient.public && !state.hasShares"></mat-icon><!--
           --><mat-icon svgIcon="lock" size="small" *ngIf="!recipient.public && !state.hasShares"></mat-icon><!--
           --><mat-icon svgIcon="globe" size="small" *ngIf="state.hasShares && state.publicShare"></mat-icon><!--
           --><mat-icon svgIcon="globe" size="small" *ngIf="state.hasShares && !state.publicShare"></mat-icon><!--
           --><coyo-sender-link *ngIf="recipient" [sender]="recipient"></coyo-sender-link><span *ngIf="!last">,</span><!--
         --></ng-container>
          </ng-container>
        </div>

        <div class="timeline-item-title-subline">
          {{ state.item.created | timeAgo }}<span
          *ngIf="state.originalAuthor">, {{'MODULE.TIMELINE.ORIGINAL_AUTHOR.POSTED_BY' | translate}} {{state.originalAuthor.displayName}}</span>
        </div>
      </div>
    </header>
    <coyo-timeline-item-context-menu (showAuthor)="setShowOriginalAuthor($event)"
                                     (delete)="remove()"
                                     (unsticky)="unsticky()"
                                     [item]="state.item" data-test="button-timeline-entry-edit-dropdown">
    </coyo-timeline-item-context-menu>
    <coyo-timeline-item-content-outlet [item]="state.item"></coyo-timeline-item-content-outlet>
  </section>

  <coyo-timeline-item-footer *ngIf="state.author && state.target"
                             [author]="state.author"
                             [item]="state.item"
                             [context]="state.context"
                             [target]="state.target"
                             [skipInitRequest]="state.skipInitRequest"
                             (authorChanged)="setAuthor($event)"
                             (shareCreated)="addShare($event)"
                             (sharesUpdated)="updateShare($event)"
                             (sharesDeleted)="deleteShare($event)">
  </coyo-timeline-item-footer>
</article>
<ng-container *ngIf="state$ | async as state">
  <coyo-comment-list [target]="state.target"
                     [author]="state.author"
                     [skipInitRequest]="state.skipInitRequest"
                     *ngIf="state.target && state.author && state.target.socialPermissions.commentsShown"></coyo-comment-list>
</ng-container>
