@import "variables";
@import "mixins";

:host {
  display: block;
  margin-bottom: 12px;

  @include sm-and-up() {
    margin-bottom: 24px;
  }
}

article {
  position: relative;
  background-color: $color-white;

  @include sm-and-up() {
    border-radius: 5px;
  }

  > section {
    padding: 12px 16px;

    @include sm-and-up() {
      padding: 16px 24px;
    }
  }

  .timeline-item-main-part {
    position: relative;
  }
}

header {
  display: flex;
  margin-bottom: 16px;
}

.timeline-item-title {
  @include break-word();
  flex: 1;
  min-width: 0;
  margin-left: 16px;
  margin-right: 38px;
  line-height: 22px;

  .mat-icon {
    color: $n200;
    position: relative;
    top: 3px;
    margin: 0 4px;

    + .mat-icon {
      margin-left: 0;
    }
  }
}

.timeline-item-title-subline {
  color: $n200;
  font-size: 14px;
  line-height: 16px;
}

coyo-timeline-item-context-menu {
  position: absolute;
  top: 16px;
  right: 16px;
}

.has-ribbon {
  .timeline-item-title {
    margin-right: 64px;
  }

  &:not(.has-share) coyo-timeline-item-context-menu {
    right: 48px;
    z-index: 2;
  }
}

.scroll-anchor {
  position: absolute;
  left: 0;
  top: -59px;

  @include sm-and-up() {
    top: -12px;
  }
}
