$assets: 'assets/' !default;

@import "variables";
@import "../../../src/main/styles/mixins";
@import "components/mixins/buttons";
@import "components/mixins/icons";
@import "components/mixins/widgets";

// You can add your mixins here

@mixin no-select() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
