$assets: 'assets/' !default;

@import "functions";
@import "../../../src/main/styles/variables";

// You can add your variables here


/**
 * ===== Colors
 */

$n0: #ffffff;
$n25: #f9f9fb;
$n35: #f2f3f4;
$n50: #ebecf0;
$n75: #d7dbe0;
$n100: #a8b1ba;
$n200: #697687;
$n300: #313d4d;
$n400: #202d40;
$n500: #192638;
$n600: #101d30;

$b75: #ebf5ff;
$b100: #cce6ff;
$b200: #73b9ff;
$b300: #2693ff;
$b400: #0073e6;
$b500: #0060bf;
$b600: #074c91;

$g75: #f0ffcf;
$g100: #e2ff94;
$g200: #c9ed51;
$g300: #afd62d;
$g400: #9bbf29;
$g500: #789c16;
$g600: #5c7d00;

$r75: #ffebe6;
$r100: #ffc2b3;
$r200: #ff8063;
$r300: #e05e41;
$r400: #cc4b2b;
$r500: #b33c1e;
$r600: #8c2f18;

$o75: #fffae6;
$o100: #fff0b3;
$o200: #ffe380;
$o300: #ffc400;
$o400: #ffab00;
$o500: #ff991f;
$o600: #d47400;

$p75: #f2e6ff;
$p100: #d9b3ff;
$p200: #c182ff;
$p300: #b366ff;
$p400: #9a33ff;
$p500: #8627e6;
$p600: #7f2ad4;


/**
 * ===== Theming
 */

//$coyo-link-color: $b400;
$coyo-link-color: $link-color;
//$coyo-link-focus-color: $b400;
$coyo-link-focus-color: opacify($coyo-link-color, 0.5);

//$coyo-primary-color: $b400;
$coyo-primary-color: $btn-primary-bg;
//$coyo-primary-text-color: $n0;
$coyo-primary-text-color: $btn-primary-color;
//$coyo-primary-focus-color: $b200;
$coyo-primary-focus-color: lighten($coyo-primary-color, 40%);
//$coyo-primary-hover-color: $b300;
$coyo-primary-hover-color: lighten($coyo-primary-color, 10%);
//$coyo-primary-pressed-color: $b500;
$coyo-primary-pressed-color: darken($coyo-primary-color, 10%);

$coyo-warn-text-color: $r200;
$coyo-warn-hover-color: lighten($coyo-warn-text-color, 10%);

//$coyo-secondary-focus-color: $b400;
$coyo-secondary-focus-color: $coyo-link-focus-color;
