<div class="shares-modal">
  <div class="modal-content-wrapper">
    <div class="modal-header">
      <h3 class="modal-title" translate>COMMONS.SHARES.LIST.TITLE</h3>
      <button type="button" class="coyo-btn coyo-btn-sm coyo-btn-link coyo-btn-icon" (click)="modal.hide()" [attr.aria-label]="'CLOSE' | translate">
        <i class="zmdi zmdi-close" aria-hidden="true"></i>
      </button>
    </div>
    <div class="modal-body coyo-new">
      <div *ngIf="!shares || !shares.length"
           class="text-muted text-center no-shares-notice"
           translate="MODULE.TIMELINE.SHARE_MODAL.NO_SHARES_NOTICE"></div>
      <coyo-timeline-share *ngFor="let share of shares"
                           [share]="share"
                           [itemType]="itemType"
                           (shareUpdated)="updatedShare($event)"
                           (shareDeleted)="deleteShare($event)">
      </coyo-timeline-share>
    </div>
  </div>
</div>
