@import "variables";

.modal-body {
  overflow: visible;

  @media print, screen and (min-width: $screen-sm-min) {
    padding-top: 0 !important;
    overflow: visible !important;
  }
}

.no-shares-notice {
  padding-top: 20px;
  padding-bottom: 8px;
}
