@import "variables";

.user-online-link {
   align-items: center;
   display: flex;
   flex-direction: row;
 }

.user-online-count {
  color: $n400;
  font-size: 36px;
  line-height: 36px;
  margin-right: 12px;
}

.user-online-text {
  color: $n200;
  font-size: 13px;
  line-height: 18px;
}

.spinner {
  margin: 10px;
}
